{{#before_label_and_item}}
<div id="#CURRENT_ITEM_NAME#_CONTAINER" class="ma-field-container input-field #ITEM_CSS_CLASSES#">
{{/before_label_and_item}}
    {{#before_label}}
    <label for="#CURRENT_ITEM_NAME#" id="#LABEL_ID#" data-tooltip="#CURRENT_ITEM_HELP_TEXT#">
    {{/before_label}}
    {{#after_label}}
    </label>
    {{/after_label}}

    {{#before_item}}
    #ERROR_TEMPLATE#
    {{/before_item}}
    {{#after_item}}
    {{/after_item}}
{{#after_label_and_item}}
</div>
{{/after_label_and_item}}

{{#on_error_before_label}}{{/on_error_before_label}}
{{#on_error_after_label}}{{/on_error_after_label}}
{{#error_template}}
<br>
<span class="ma-error-message">#ERROR_MESSAGE#</span>
{{/error_template}}
{{#help_template}}{{/help_template}}

{{#template_options}}
[
    {
        "name": "NO_LABEL",
        "display_name": "No Label",
        "display_sequence": 1,
        "css_classes": "item-no-label",
        "help_text": ""
    },
    {
        "name": "CHECKBOX_ALTERNATE",
        "display_name": "2nd Look (Checkbox & Radio)",
        "display_sequence": 10,
        "css_classes": "ma-alternate-look",
        "help_text": ""
    }
]
{{/template_options}}
