{{#before_label_and_item}}
<div id="#CURRENT_ITEM_NAME#_CONTAINER" class="file-field input-field #ITEM_CSS_CLASSES#">
<div class="btn">
{{/before_label_and_item}}
    {{#before_label}}
    <span>
    {{/before_label}}
    {{#after_label}}
    </span>
    {{/after_label}}

    {{#before_item}}
    {{/before_item}}
    {{#after_item}}
    {{/after_item}}
{{#after_label_and_item}}
</div>
<div class="file-path-wrapper">
    <input class="file-path validate" type="text">
</div>
</div>
{{/after_label_and_item}}

{{#on_error_before_label}}{{/on_error_before_label}}
{{#on_error_after_label}}{{/on_error_after_label}}
{{#error_template}}{{/error_template}}
{{#help_template}}{{/help_template}}
