{{#BEFORE_ITEM}}
<div class="apex-materialbox">

{{/BEFORE_ITEM}}
{{#TEMPLATE_BODY1}}
    <label class="big-label">

{{/TEMPLATE_BODY1}}
{{#TEMPLATE_BODY2}}
    </label>

{{/TEMPLATE_BODY2}}
{{#ITEM_PRE_TEXT}}{{/ITEM_PRE_TEXT}}
{{#BEFORE_ELEMENT}}
    <div data-caption="#CURRENT_ITEM_HELP_TEXT# ">

{{/BEFORE_ELEMENT}}
{{#AFTER_ELEMENT}}
    </div>

{{/AFTER_ELEMENT}}
{{#ITEM_POST_TEXT}}{{/ITEM_POST_TEXT}}
{{#AFTER_ITEM}}
</div>


{{/AFTER_ITEM}}

{{#ON_ERROR_BEFORE_LABEL}}{{/ON_ERROR_BEFORE_LABEL}}
{{#ON_ERROR_AFTER_LABEL}}{{/ON_ERROR_AFTER_LABEL}}
{{#ERROR_TEMPLATE}}{{/ERROR_TEMPLATE}}
{{#HELP_LINK}}{{/HELP_LINK}}
{{#INLINE_HELP_TEXT}}{{/INLINE_HELP_TEXT}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
