{{#before_label_and_item}}
<div class="apex-materialbox">
{{/before_label_and_item}}
    {{#before_label}}
    <label class="big-label">
    {{/before_label}}
    {{#after_label}}
    </label>
    {{/after_label}}

    {{#before_item}}
    <div data-caption="#CURRENT_ITEM_HELP_TEXT# ">
    {{/before_item}}
    {{#after_item}}
    </div>
    {{/after_item}}
{{#after_label_and_item}}
</div>
{{/after_label_and_item}}

{{#on_error_before_label}}{{/on_error_before_label}}
{{#on_error_after_label}}{{/on_error_after_label}}
{{#error_template}}{{/error_template}}
{{#help_template}}{{/help_template}}
