// This is a fix for the wrong margin and padding in default.date.scss
.picker__select--month,
.picker__select--year {
  	padding: 0;
}

@media (min-width: 24.5em) {
	.picker__select--month,
	.picker__select--year {
		margin-top: 0;
	}
}

label.active.display-only {
	margin-bottom: 10px;
	display: block;
}

.input-field {
    margin-top: 1.5rem;

	label {
		left:0;

		&.active {
    		transform: translateY(-190%);
		}
	}
}

.item-no-label label {
	display: none!important;
}

.item-image-responsive img {
	@extend .responsive-img;
}

.item-image-circle img {
	@extend .circle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
}

:focus {
	outline:none;
}

/*
Autocomplete
*/
div.ac_results {
	ul {
		@extend .collection;
		border: none;

		li {
			@extend .collection-item;

			&.ac_over {
				@extend .active;
			}
		}
	}
}