$sidenav-height: 44px;

ul.side-nav {
    z-index: 1002;

	li {
		line-height: $sidenav-height;

		i {
			margin-right: 1rem;
		  	font-size: 1.5rem;
	  	  	float: left;
		  	line-height: $sidenav-height;
		  	height: $sidenav-height;
		}

		a {
			line-height: $sidenav-height;
			height: $sidenav-height;
		}
	}

	a {
		padding: 0 15px;
	}

	.collapsible {
		border: none;
		box-shadow: none;
	}
}

#sidenav-overlay {
  	z-index: 998;
}
