$sidenav-height: 44px;

ul.side-nav {
    z-index: 1002;

	// Right Align
	&.right-aligned {
		right: initial;
		left: initial;
	}
		
	li {
		line-height: $sidenav-height;

		i {
			margin-right: 1rem;
		  	font-size: 1.5rem;
	  	  	float: left;
		  	line-height: $sidenav-height;
		  	height: $sidenav-height;
		}

		a {
			line-height: $sidenav-height;
			height: $sidenav-height;
		}
	}

	a {
		padding: 0 15px;
	}

	.collapsible {
		border: none;
		box-shadow: none;
	}
}

#sidenav-overlay {
  	z-index: 998;
}

/*
Sidebar Fixed
*/
body.side-nav-fixed {
	ul.side-nav {
		@extend .side-nav.fixed;
    	z-index: 999;
	}

	@media #{$large-and-up} {
		ul.side-nav {
    		left:0!important;
		}
	}

	header, main, footer {
    	padding-left: 240px;
  	}

  	nav {
	    width: calc(100% - 240px);
	}
	  	
  	#menu-trigger {
  		display: none!important;
  	}

  	@media #{$medium-and-down} {
    	header, main, footer {
      		padding-left: 0;
    	}

	  	nav {
		    width: 100%;
		}
	  	
	  	#menu-trigger {
	  		display: block!important;
	  	}
  	}
}