nav .nav-wrapper i {
	font-size: 2rem!important;
}

@media #{$medium-and-up} {
  	nav .nav-wrapper i {
		font-size: 2.7rem!important;
	}
}

.drag-target {
	top:$navbar-height-mobile;
}


@media #{$medium-and-up} {
  	.drag-target {
		top:$navbar-height;
	}

	.section.scrollspy {
		padding-top:$navbar-height;
	}
}


.page-navbar-fixed #app-navbar {
	@extend .navbar-fixed;
}

.page-center-logo .brand-logo {
	@extend .center;
}


.navbar-list a {
	display: inline-block;
	padding: 0 15px;
    height: $navbar-height-mobile;
    line-height: $navbar-height-mobile;

    i {
	    height: $navbar-height-mobile;
	    line-height: $navbar-height-mobile;
	}
}

@media #{$medium-and-up} {
	.navbar-list a {
	    height: $navbar-height;
	    line-height: $navbar-height;

	    i {
		    height: $navbar-height;
		    line-height: $navbar-height;
		}
	}
}