{{#inline_css}}
{{/inline_css}}
{{#header_template}}
<!DOCTYPE html>
<head>
    <title>#TITLE#</title>
    #FAVICONS#

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="author" content="Vincent Morneau">
    <meta name="description" content="Material Design Theme for APEX">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Mandatory APEX CSS Stuff -->
    #HEAD#
    #APEX_CSS#

    <!-- Material APEX CSS -->
    #THEME_CSS#
    #THEME_STYLE_CSS#
    #TEMPLATE_CSS#

    <!-- Additionnal CSS -->
    #APPLICATION_CSS#
    #PAGE_CSS#
</head>
<body class="#PAGE_CSS_CLASSES#" #ONLOAD#>
{{/header_template}}

{{#box}}
#FORM_OPEN#

<!-- Item Container -->
#REGION_POSITION_01#

<!-- Navbar & Sidenav -->
<header>
    <div class="top-nav-wrapper">
        <nav class="top-nav">
            <div class="nav-wrapper main-nav-wrapper">
                #REGION_POSITION_02#
                <a href="#HOME_LINK#" class="brand-logo hide-on-small-only">#LOGO#</a>
                #NAVIGATION_BAR#
            </div>
            <div class="nav-wrapper search-nav-wrapper hide">
                #REGION_POSITION_05#
            </div>
        </nav>
    </div>
    <!-- Breadcrumbs -->
    #REGION_POSITION_03#
    #SIDE_GLOBAL_NAVIGATION_LIST#
</header>


<!-- Content -->
<main>

    <div class="row">
        <div class="&P0_BODY_COLUMN_CLASSES.">
            #NOTIFICATION_MESSAGE#
            #BODY#
        </div>

        <!-- Scrollspy -->
        #REGION_POSITION_04#
    </div>

    <!-- Modals -->
    #REGION_POSITION_06#

</main>

<!-- Footer -->
<footer class="page-footer">
    #REGION_POSITION_08#
</footer>

#GLOBAL_NOTIFICATION#
#SUCCESS_MESSAGE#

#FORM_CLOSE#
{{/box}}

{{#footer_template}}
<!-- Mandatory APEX JS -->
#DEVELOPER_TOOLBAR#
#APEX_JAVASCRIPT#

<!-- Material APEX JS -->
#THEME_JAVASCRIPT#
#TEMPLATE_JAVASCRIPT#

<!-- Additionnal CSS -->
#APPLICATION_JAVASCRIPT#
#PAGE_JAVASCRIPT#

<!-- Generated CSS and JS -->
#GENERATED_CSS#
#GENERATED_JAVASCRIPT#
</body>
</html>
{{/footer_template}}

{{#success_message}}
<div id="toast-container">
    <div class="toast velocity-animating green lighten-2">
        #SUCCESS_MESSAGE#
        <i class="toast-close material-icons right">close</i>
    </div>
</div>
{{/success_message}}
{{#message}}
<div class="row">
    <div class="col s12">
        <div class="card-panel red lighten-2 white-text">
            <i class="panel-close material-icons right">close</i>
            #MESSAGE#
        </div>
    </div>
</div>
{{/message}}

{{#error_page_template}}
<div class="row m-t-3">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-image center">
        <i class="material-icons xlarge red-text m-t-1">error</i>
      </div>
      <div class="card-content">
        <p>#MESSAGE#</p>
        <p>#ADDITIONAL_INFO#</p>
        <p>#TECHNICAL_INFO#</p>
      </div>
      <div class="card-action">
        <a href="#BACK_LINK#">#OK#</a>
      </div>
    </div>
  </div>
</div>
{{/error_page_template}}

{{#grid_template}}
#ROWS#
{{/grid_template}}
{{#grid_row_template}}
<div class="row">
    #COLUMNS#
</div>
{{/grid_row_template}}
{{#grid_column_template}}
<div class="col s12 m#COLUMN_SPAN_NUMBER# #CSS_CLASSES#" #ATTRIBUTES#>
    #CONTENT#
</div>
{{/grid_column_template}}
