{{#inline_css}}
{{/inline_css}}
{{#header_template}}
<!DOCTYPE html>
<head>
    <title>#TITLE#</title>
    #FAVICONS#

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="author" content="Vincent Morneau">
    <meta name="description" content="Material Design Theme for APEX">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Mandatory APEX CSS Stuff -->
    #HEAD#
    #APEX_CSS#

    <!-- Material APEX CSS -->
    #THEME_CSS#
    #THEME_STYLE_CSS#
    #TEMPLATE_CSS#

    <!-- Additionnal CSS -->
    #APPLICATION_CSS#
    #PAGE_CSS#
</head>
<body id="#PAGE_STATIC_ID#" class="#PAGE_CSS_CLASSES#" #ONLOAD#>
{{/header_template}}

{{#box}}
#FORM_OPEN#

<!-- Item Container -->
#REGION_POSITION_01#

<div class="ma-main-container m-t-3">
    #GLOBAL_NOTIFICATION#
    #SUCCESS_MESSAGE#
    #NOTIFICATION_MESSAGE#

    #BODY#
</div>

#FORM_CLOSE#
{{/box}}

{{#footer_template}}
<!-- Mandatory APEX JS -->
#DEVELOPER_TOOLBAR#
#APEX_JAVASCRIPT#

<!-- Material APEX JS -->
#THEME_JAVASCRIPT#
#TEMPLATE_JAVASCRIPT#

<!-- Additionnal CSS -->
#APPLICATION_JAVASCRIPT#
#PAGE_JAVASCRIPT#

<!-- Generated CSS and JS -->
#GENERATED_CSS#
#GENERATED_JAVASCRIPT#

<!-- Finalize script -->
<script type="text/javascript" src="&PATH.js/finalize#MIN#.js"></script>
</body>
</html>
{{/footer_template}}

{{#success_message}}
<div id="toast-container">
    <div class="toast velocity-animating green lighten-2">
        #SUCCESS_MESSAGE#
        <i class="ma-toast-close material-icons right">close</i>
    </div>
</div>
{{/success_message}}
{{#message}}
<div class="row m-b-0">
    <div class="col s12">
        <div class="ma-alert card-panel yellow lighten-4 grey-text text-darken-1">
            <div class="ma-alert-icon p-r-1">
                <i class="material-icons">warning</i>
            </div>
            <div class="ma-alert-content">
                #MESSAGE#
            </div>
            <div class="ma-alert-close p-l-1">
                <i class="panel-close material-icons">close</i>
            </div>
        </div>
    </div>
</div>
{{/message}}

{{#error_page_template}}
<div class="row m-t-3">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-image center">
                <i class="material-icons xlarge red-text text-lighten-1 m-t-1">error</i>
            </div>
            <div class="card-content grey-text">
                <p>#MESSAGE#</p>
                <p>#ADDITIONAL_INFO#</p>
                <p>#TECHNICAL_INFO#</p>
            </div>
            <div class="card-action">
                <a href="#BACK_LINK#" class="btn-flat waves-effect waves-light">#OK#</a>
            </div>
        </div>
    </div>
</div>
{{/error_page_template}}

{{#grid_template}}
#ROWS#
{{/grid_template}}
{{#grid_row_template}}
<div class="row">
    #COLUMNS#
</div>
{{/grid_row_template}}
{{#grid_column_template}}
<div class="col s12 m#COLUMN_SPAN_NUMBER# #CSS_CLASSES#" #ATTRIBUTES#>
    #CONTENT#
</div>
{{/grid_column_template}}

{{#template_options}}
[
    {
        "name": "CONTAINER",
        "display_name": "Container",
        "display_sequence": 1,
        "css_classes": "main-container",
        "help_text": ""
    }
]
{{/template_options}}
