{{#inline_css}}
{{/inline_css}}
{{#header_template}}
<!DOCTYPE html>
<html class="no-js #RTL_CLASS# page-&APP_PAGE_ID. app-&APP_ALIAS." lang="&BROWSER_LANGUAGE." #TEXT_DIRECTION#>
	<head>
		<title>#TITLE#</title>

		<!-- Meta -->
		<meta http-equiv="x-ua-compatible" content="IE=edge" />
		<meta charset="utf-8">
		<meta name="author" content="Vincent Morneau">
		<meta name="description" content="Material Design Theme for APEX">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		#APEX_CSS#
		#THEME_CSS#
		#TEMPLATE_CSS#
		#THEME_STYLE_CSS#
		#APPLICATION_CSS#
		#PAGE_CSS#
		#FAVICONS#
		#HEAD#
	</head>
	<body class="t-Dialog-page t-Dialog-page--standard #DIALOG_CSS_CLASSES# #PAGE_CSS_CLASSES#" #TEXT_DIRECTION# #ONLOAD#>
{{/header_template}}

{{#box}}
#FORM_OPEN#

<!-- Item Container -->
#REGION_POSITION_01#

<div class="t-Dialog #PAGE_CSS_CLASSES#" role="dialog" aria-label="#TITLE#">
	<div class="t-Dialog-header">
		#REGION_POSITION_02#
	</div>

	<div class="t-Dialog-bodyWrapperOut">
		<div class="t-Dialog-bodyWrapperIn">
			<div class="t-Dialog-body ma-body-column-css-classes">
				#BODY#
			</div>

			<!-- Region Display Selector -->
			#REGION_POSITION_04#
		</div>
	</div>

	<div class="t-Dialog-footer">
		#REGION_POSITION_06#
	</div>
</div>

<div id="ma-notification-container">
#SUCCESS_MESSAGE##NOTIFICATION_MESSAGE##GLOBAL_NOTIFICATION#
</div>

#FORM_CLOSE#
{{/box}}

{{#footer_template}}
#DEVELOPER_TOOLBAR#
#APEX_JAVASCRIPT#
#THEME_JAVASCRIPT#
#TEMPLATE_JAVASCRIPT#
#APPLICATION_JAVASCRIPT#
#PAGE_JAVASCRIPT#
#GENERATED_CSS#
#GENERATED_JAVASCRIPT#
<script type="text/javascript" src="#THEME_IMAGES#js/finalize#MIN#.js"></script>
</body>
</html>
{{/footer_template}}

{{#success_message}}
<div class="t-Body-alert">
  <div class="t-Alert t-Alert--defaultIcons t-Alert--success t-Alert--horizontal t-Alert--page t-Alert--colorBG" id="t_Alert_Success" role="alert">
    <div class="t-Alert-wrap">
      <div class="t-Alert-icon">
  		<i class="material-icons">check</i>
      </div>
      <div class="t-Alert-content">
        <div class="t-Alert-header">
          <span class="t-Alert-title">#SUCCESS_MESSAGE#</span>
        </div>
      </div>
      <div class="t-Alert-buttons">
        <button class="t-Button t-Button--noUI t-Button--icon t-Button--closeAlert btn-flat" type="button" title="#CLOSE_NOTIFICATION#"><i class="panel-close material-icons">close</i></button>
      </div>
    </div>
  </div>
</div>
{{/success_message}}
{{#message}}
<div class="t-Body-alert">
  <div class="t-Alert t-Alert--defaultIcons t-Alert--warning t-Alert--horizontal t-Alert--page" id="t_Alert_Success" role="alert">
    <div class="t-Alert-wrap">
      <div class="t-Alert-icon">
  		<i class="material-icons">warning</i>
      </div>
      <div class="t-Alert-content">
        <div class="t-Alert-header">
          <span class="t-Alert-title">#MESSAGE#</span>
        </div>
      </div>
      <div class="t-Alert-buttons">
        <button class="t-Button t-Button--noUI t-Button--icon t-Button--closeAlert btn-flat" type="button" title="#CLOSE_NOTIFICATION#"><i class="panel-close material-icons">close</i></button>
      </div>
    </div>
  </div>
</div>
{{/message}}

{{#error_page_template}}
<div class="row m-t-3">
	<div class="col s12 m8 offset-m2">
		<div class="card">
			<div class="card-image center">
				<i class="material-icons xlarge red-text text-lighten-1 m-t-1">error</i>
			</div>
			<div class="card-content grey-text">
				<p>#MESSAGE#</p>
				<p>#ADDITIONAL_INFO#</p>
				<p>#TECHNICAL_INFO#</p>
			</div>
			<div class="card-action">
				<a href="#BACK_LINK#" class="btn-flat waves-effect waves-light">#OK#</a>
			</div>
		</div>
	</div>
</div>
{{/error_page_template}}

{{#grid_template}}
<div class="ma-container">
	#ROWS#
</div>
{{/grid_template}}
{{#grid_row_template}}
<div class="row">
	#COLUMNS#
</div>
{{/grid_row_template}}
{{#grid_column_template}}
<div class="col s12 m#COLUMN_SPAN_NUMBER# #CSS_CLASSES#" #ATTRIBUTES#>
	#CONTENT#
</div>
{{/grid_column_template}}

{{#dialog_browser_frame}}
MODAL
{{/dialog_browser_frame}}
{{#dialog_css_classes}}
{{/dialog_css_classes}}
{{#dialog_height}}
auto
{{/dialog_height}}
{{#dialog_js_cancel_code}}
apex.navigation.dialog.cancel(#IS_MODAL#);
{{/dialog_js_cancel_code}}
{{#dialog_js_close_code}}
apex.navigation.dialog.close(#IS_MODAL#,#TARGET#);
{{/dialog_js_close_code}}
{{#dialog_js_init_code}}
apex.navigation.dialog(#PAGE_URL#,{title:#TITLE#,height:#DIALOG_HEIGHT#,width:#DIALOG_WIDTH#,maxWidth:#DIALOG_MAX_WIDTH#,modal:#IS_MODAL#,dialog:#DIALOG#,#DIALOG_ATTRIBUTES#},'t-Dialog-page--standard '+#DIALOG_CSS_CLASSES#,#TRIGGERING_ELEMENT#);
{{/dialog_js_init_code}}
{{#dialog_max_width}}
960
{{/dialog_max_width}}
{{#dialog_width}}
720
{{/dialog_width}}

{{#template_options}}
[
	{
		"name": "STRETCH_TO_FIT_WINDOW",
		"display_name": "Stretch to Fit Window",
		"display_sequence": 1,
		"css_classes": "ui-dialog--stretch",
		"help_text": "Stretch the dialog to fit the browser window."
	}
]
{{/template_options}}
