{{#inline_css}}
{{/inline_css}}
{{#header_template}}
<!DOCTYPE html>
<html class="no-js #RTL_CLASS# page-&APP_PAGE_ID. app-&APP_ALIAS." lang="&BROWSER_LANGUAGE." #TEXT_DIRECTION#>
<head>
	<title>#TITLE#</title>

	<!-- Meta -->
	<meta http-equiv="x-ua-compatible" content="IE=edge" />
	<meta charset="utf-8">
	<meta name="author" content="Vincent Morneau">
	<meta name="description" content="Material Design Theme for APEX">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	#APEX_CSS#
	#THEME_CSS#
	#TEMPLATE_CSS#
	#THEME_STYLE_CSS#
	#APPLICATION_CSS#
	#PAGE_CSS#
	#FAVICONS#
	#HEAD#
</head>
<body id="#PAGE_STATIC_ID#" class="#PAGE_CSS_CLASSES#" #TEXT_DIRECTION# #ONLOAD#>
{{/header_template}}

{{#box}}
#FORM_OPEN#

<!-- Item Container -->
#REGION_POSITION_01#

<!-- Navbar & Sidenav -->
<header>
	<div class="top-nav-wrapper">
		<nav class="top-nav">
			<div class="nav-wrapper main-nav-wrapper m-l-1">
				<a href="#" id="app-sidenav-trigger" class="button-collapse show-on-large hide" data-activates="app-sidenav" title="#EXPAND_COLLAPSE_NAV_LABEL#"><i class="material-icons left">menu</i></a>
				<a href="#HOME_LINK#" class="brand-logo ma-responsive-text">#LOGO#</a>
				#NAVIGATION_BAR#
				#TOP_GLOBAL_NAVIGATION_LIST#
			</div>
			<div class="nav-wrapper search-nav-wrapper hide">
				<!-- Search Bar -->
				#REGION_POSITION_05#
			</div>
		</nav>
	</div>
	<!-- Breadcrumbs -->
	#REGION_POSITION_03#
	<!-- Side nav -->
	#SIDE_GLOBAL_NAVIGATION_LIST#
</header>

<!-- Content -->
<main>
	<div class="ma-main-container">
		<div class="row">
			<div class="ma-body-column-css-classes">
				#BODY#
			</div>

			<!-- Region Display Selector -->
			#REGION_POSITION_04#
		</div>
	</div>
</main>

<!-- Footer -->
<footer class="page-footer">
	<div class="container">
		<!-- Footer Top -->
		#REGION_POSITION_07#
	</div>

	<!-- Footer Bottom -->
	<div class="footer-copyright">
		<div class="container">
			<div class="version">#APP_VERSION#</div>
			<div class="customize right">#CUSTOMIZE#</div>
			<div class="screenreader right">#SCREEN_READER_TOGGLE#</div>
		</div>
	</div>
</footer>

<div id="ma-notification-container">
#SUCCESS_MESSAGE##NOTIFICATION_MESSAGE##GLOBAL_NOTIFICATION#
</div>

#FORM_CLOSE#
{{/box}}

{{#footer_template}}
#FORM_CLOSE#
#DEVELOPER_TOOLBAR#
#APEX_JAVASCRIPT#
#GENERATED_CSS#
#THEME_JAVASCRIPT#
#TEMPLATE_JAVASCRIPT#
#APPLICATION_JAVASCRIPT#
#PAGE_JAVASCRIPT#
#GENERATED_JAVASCRIPT#
<script type="text/javascript" src="#THEME_IMAGES#js/finalize#MIN#.js"></script>
</body>
</html>
{{/footer_template}}

{{#success_message}}
<div class="t-Body-alert">
  <div class="t-Alert t-Alert--defaultIcons t-Alert--success t-Alert--horizontal t-Alert--page t-Alert--colorBG" id="t_Alert_Success" role="alert">
    <div class="t-Alert-wrap">
      <div class="t-Alert-icon">
  		<i class="material-icons">check</i>
      </div>
      <div class="t-Alert-content">
        <div class="t-Alert-header">
          <span class="t-Alert-title">#SUCCESS_MESSAGE#</span>
        </div>
      </div>
      <div class="t-Alert-buttons">
        <button class="t-Button t-Button--noUI t-Button--icon t-Button--closeAlert btn-flat" type="button" title="#CLOSE_NOTIFICATION#"><i class="panel-close material-icons">close</i></button>
      </div>
    </div>
  </div>
</div>
{{/success_message}}
{{#message}}
<div class="t-Body-alert">
  <div class="t-Alert t-Alert--defaultIcons t-Alert--warning t-Alert--horizontal t-Alert--page" id="t_Alert_Success" role="alert">
    <div class="t-Alert-wrap">
      <div class="t-Alert-icon">
  		<i class="material-icons">warning</i>
      </div>
      <div class="t-Alert-content">
        <div class="t-Alert-header">
          <span class="t-Alert-title">#MESSAGE#</span>
        </div>
      </div>
      <div class="t-Alert-buttons">
        <button class="t-Button t-Button--noUI t-Button--icon t-Button--closeAlert btn-flat" type="button" title="#CLOSE_NOTIFICATION#"><i class="panel-close material-icons">close</i></button>
      </div>
    </div>
  </div>
</div>
{{/message}}

{{#error_page_template}}
<div class="row m-t-3">
	<div class="col s12 m8 offset-m2">
		<div class="card">
			<div class="card-image center">
				<i class="material-icons xlarge red-text text-lighten-1 m-t-1">error</i>
			</div>
			<div class="card-content grey-text">
				<p>#MESSAGE#</p>
				<p>#ADDITIONAL_INFO#</p>
				<p>#TECHNICAL_INFO#</p>
			</div>
			<div class="card-action">
				<a href="#BACK_LINK#" class="btn-flat waves-effect waves-light">#OK#</a>
			</div>
		</div>
	</div>
</div>
{{/error_page_template}}

{{#grid_template}}
<div class="ma-container">
	#ROWS#
</div>
{{/grid_template}}
{{#grid_row_template}}
<div class="row">
	#COLUMNS#
</div>
{{/grid_row_template}}
{{#grid_column_template}}
<div class="col s12 m#COLUMN_SPAN_NUMBER# #CSS_CLASSES#" #ATTRIBUTES#>
	#CONTENT#
</div>
{{/grid_column_template}}

{{#dialog_browser_frame}}
MODAL
{{/dialog_browser_frame}}
{{#dialog_css_classes}}
{{/dialog_css_classes}}
{{#dialog_height}}
{{/dialog_height}}
{{#dialog_js_cancel_code}}
apex.navigation.dialog.cancel(#IS_MODAL#);
{{/dialog_js_cancel_code}}
{{#dialog_js_close_code}}
apex.navigation.dialog.close(#IS_MODAL#,#TARGET#);
{{/dialog_js_close_code}}
{{#dialog_js_init_code}}
apex.navigation.dialog(#PAGE_URL#,{title:#TITLE#,height:#DIALOG_HEIGHT#,width:#DIALOG_WIDTH#,maxWidth:#DIALOG_MAX_WIDTH#,modal:#IS_MODAL#,dialog:#DIALOG#,#DIALOG_ATTRIBUTES#},#DIALOG_CSS_CLASSES#,#TRIGGERING_ELEMENT#);
{{/dialog_js_init_code}}
{{#dialog_max_width}}
{{/dialog_max_width}}
{{#dialog_width}}
{{/dialog_width}}

{{#template_option_groups}}
[]
{{/template_option_groups}}

{{#template_options}}
[
	{
		"name": "CONTAINER",
		"display_name": "Wrap Page in a Container",
		"display_sequence": 1,
		"css_classes": "main-container",
		"help_text": ""
	},

	{
		"name": "SIDE_NAVIGATION_FIXED",
		"display_name": "Side Navigation Fixed",
		"display_sequence": 4,
		"css_classes": "side-nav-fixed",
		"help_text": ""
	},

	{
		"name": "NAVIGATION_BAR_FIXED",
		"display_name": "Navigation Bar Fixed",
		"display_sequence": 3,
		"css_classes": "page-navbar-fixed",
		"help_text": ""
	},

	{
		"name": "CENTER_LOGO",
		"display_name": "Center Logo",
		"display_sequence": 2,
		"css_classes": "page-center-logo",
		"help_text": "This will center your application title or logo on a medium or large screen size. Small screen size will always be left aligned."
	}
]
{{/template_options}}
