{{#JAVASCRIPT_FILE_URLS}}{{/JAVASCRIPT_FILE_URLS}}
{{#JAVASCRIPT_CODE_ONLOAD}}{{/JAVASCRIPT_CODE_ONLOAD}}
{{#CSS_FILE_URLS}}{{/CSS_FILE_URLS}}
{{#INLINE_CSS}}{{/INLINE_CSS}}

{{#LIST_TEMPLATE_BEFORE_ROWS}}
<ul id="#LIST_ID#" class="right navbar-list #COMPONENT_CSS_CLASSES#">
{{/LIST_TEMPLATE_BEFORE_ROWS}}
{{#LIST_TEMPLATE_CURRENT}}
<li class="active">
    <a id="#LIST_ITEM_ID#" href="#LINK#" class="#A01#">
        <i class="#ICON_CSS_CLASSES# right-l" aria-hidden="true"></i>
        <span class="hide-on-med-and-down">#TEXT#</span>
    </a>
</li>
{{/LIST_TEMPLATE_CURRENT}}
{{#ITEM_TEMPLATE_CURR_W_CHILD}}
<li class="active">
    <a id="#LIST_ITEM_ID#" class="dropdown-trigger #A01#" href="#LINK#" data-target="#LIST_ITEM_ID#-menu">
        <span class="hide-on-med-and-down">#TEXT#</span>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
</li>
{{/ITEM_TEMPLATE_CURR_W_CHILD}}
{{#LIST_TEMPLATE_NONCURRENT}}
<li>
    <a id="#LIST_ITEM_ID#" href="#LINK#" class="#A01#">
        <i class="#ICON_CSS_CLASSES# right-l" aria-hidden="true"></i>
        <span class="hide-on-med-and-down">#TEXT#</span>
    </a>
</li>
{{/LIST_TEMPLATE_NONCURRENT}}
{{#ITEM_TEMPLATE_NONCURR_W_CHILD}}
<li>
    <a id="#LIST_ITEM_ID#" class="dropdown-trigger #A01#" href="#LINK#" data-target="#LIST_ITEM_ID#-menu">
        <span class="hide-on-med-and-down">#TEXT#</span>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
</li>
{{/ITEM_TEMPLATE_NONCURR_W_CHILD}}
{{#BETWEEN_ITEMS}}{{/BETWEEN_ITEMS}}

{{#BEFORE_SUB_LIST}}
<ul id="#PARENT_LIST_ITEM_ID#-menu" class="dropdown-content">
{{/BEFORE_SUB_LIST}}
{{#SUB_LIST_ITEM_CURRENT}}
<li><a href="#LINK#">#TEXT#</a></li>
{{/SUB_LIST_ITEM_CURRENT}}
{{#SUB_LIST_ITEM_NONCURRENT}}
<li><a href="#LINK#">#TEXT#</a></li>
{{/SUB_LIST_ITEM_NONCURRENT}}
{{#SUB_TEMPLATE_CURR_W_CHILD}}{{/SUB_TEMPLATE_CURR_W_CHILD}}
{{#SUB_TEMPLATE_NONCURR_W_CHILD}}{{/SUB_TEMPLATE_NONCURR_W_CHILD}}
{{#BETWEEN_SUB_LIST_ITEMS}}{{/BETWEEN_SUB_LIST_ITEMS}}
{{#AFTER_SUB_LIST}}
</ul>
{{/AFTER_SUB_LIST}}

{{#FIRST_LIST_TEMPLATE_NONCURRENT}}{{/FIRST_LIST_TEMPLATE_NONCURRENT}}
{{#FIRST_LIST_TEMPLATE_CURRENT}}{{/FIRST_LIST_TEMPLATE_CURRENT}}
{{#F_ITEM_TEMPLATE_CURR_W_CHILD}}{{/F_ITEM_TEMPLATE_CURR_W_CHILD}}
{{#FITEM_TEMPLATE_NONCURR_W_CHILD}}{{/FITEM_TEMPLATE_NONCURR_W_CHILD}}
{{#LIST_TEMPLATE_AFTER_ROWS}}
</ul>
{{/LIST_TEMPLATE_AFTER_ROWS}}

{{#A01_LABEL}}
Button CSS Classes
{{/A01_LABEL}}
{{#A02_LABEL}}{{/A02_LABEL}}
{{#A03_LABEL}}{{/A03_LABEL}}
{{#A04_LABEL}}{{/A04_LABEL}}
{{#A05_LABEL}}{{/A05_LABEL}}
{{#A06_LABEL}}{{/A06_LABEL}}
{{#A07_LABEL}}{{/A07_LABEL}}
{{#A08_LABEL}}{{/A08_LABEL}}
{{#A09_LABEL}}{{/A09_LABEL}}
{{#A10_LABEL}}{{/A10_LABEL}}
{{#A11_LABEL}}{{/A11_LABEL}}
{{#A12_LABEL}}{{/A12_LABEL}}
{{#A13_LABEL}}{{/A13_LABEL}}
{{#A14_LABEL}}{{/A14_LABEL}}
{{#A15_LABEL}}{{/A15_LABEL}}
{{#A16_LABEL}}{{/A16_LABEL}}
{{#A17_LABEL}}{{/A17_LABEL}}
{{#A18_LABEL}}{{/A18_LABEL}}
{{#A19_LABEL}}{{/A19_LABEL}}
{{#A20_LABEL}}{{/A20_LABEL}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
