{{#BEFORE_FIRST}}
<div class="nav-breadcrumbs">
<div class="nav-wrapper m-l-1">
{{/BEFORE_FIRST}}
{{#CURRENT_PAGE_OPTION}}
<a href="#LINK#" class="breadcrumb">#NAME#</a>
{{/CURRENT_PAGE_OPTION}}
{{#NON_CURRENT_PAGE_OPTION}}
<a href="#LINK#" class="breadcrumb">#NAME#</a>
{{/NON_CURRENT_PAGE_OPTION}}
{{#MENU_LINK_ATTRIBUTES}}{{/MENU_LINK_ATTRIBUTES}}
{{#BETWEEN_LEVELS}}{{/BETWEEN_LEVELS}}
{{#AFTER_LAST}}
</div>
</div>
{{/AFTER_LAST}}

{{#MAX_LEVELS}}
12
{{/MAX_LEVELS}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
