{{#TEMPLATE}}
<blockquote id="#REGION_STATIC_ID#" class="ma-region #REGION_CSS_CLASSES#">
	<div class="ma-region-header">
		<h5 class="ma-region-title"><i class="material-icons">#ICON_CSS_CLASSES#</i>#TITLE#</h5>
	</div>
	<div class="ma-region-body t-Region-body">#BODY##SUB_REGIONS#</div>
</blockquote>

{{/TEMPLATE}}
{{#SUB_PLUG_HEADER_TEMPLATE}}{{/SUB_PLUG_HEADER_TEMPLATE}}
{{#SUB_PLUG_HEADER_ENTRY_TEMPLATE}}{{/SUB_PLUG_HEADER_ENTRY_TEMPLATE}}
{{#SUB_PLUG_TEMPLATE}}{{/SUB_PLUG_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "HIDE_TITLE",
    "DISPLAY_NAME": "Hide Title",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "hide-title",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
