{{#TEMPLATE}}
<div id="#REGION_STATIC_ID#" class="ma-region ma-region-card card #REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>
	<div class="card-content">
		<div class="ma-flex-left">#PREVIOUS#</div>

		<div class="ma-flex-content">
			<div class="ma-region-header">
				<div class="ma-flex-content">
					<div class="ma-region-title card-title"><i class="material-icons">#ICON_CSS_CLASSES#</i>#TITLE#</div>
				</div>
				<div class="ma-flex-right">#EDIT#</div>
			</div>

			<div class="ma-region-buttons ma-flex-justify">
				<div class="ma-flex-left">#COPY#</div>
				<div class="ma-flex-content"></div>
				<div class="ma-flex-right">#EXPAND#</div>
			</div>

			<div class="ma-region-body t-Region-body">#BODY##SUB_REGIONS#</div>

		</div>

		<div class="ma-flex-right">#NEXT#</div>
	</div>

	<div class="ma-region-buttons ma-flex-justify card-action">
		<div class="ma-flex-left">#CLOSE##HELP#</div>
		<div class="ma-flex-center ma-flex-content">#CHANGE#</div>
		<div class="ma-flex-right">#DELETE##CREATE##CREATE2#</div>
	</div>
</div>
{{/TEMPLATE}}
{{#SUB_PLUG_HEADER_TEMPLATE}}{{/SUB_PLUG_HEADER_TEMPLATE}}
{{#SUB_PLUG_HEADER_ENTRY_TEMPLATE}}{{/SUB_PLUG_HEADER_ENTRY_TEMPLATE}}
{{#SUB_PLUG_TEMPLATE}}{{/SUB_PLUG_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "CARD_HOVERABLE",
    "DISPLAY_NAME": "Hoverable",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "hoverable",
    "HELP_TEXT": "Adds an animation for a box shadow around the card.",
    "IS_ADVANCED": ""
  },
  {
    "NAME": "HIDE_TITLE",
    "DISPLAY_NAME": "Hide Title",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "hide-title",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
