{{#TEMPLATE}}
<div id="#REGION_STATIC_ID#" class="ma-region carousel #REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>
  <div class="ma-region-body t-Region-body">#BODY##SUB_REGIONS#</div>
</div>
{{/TEMPLATE}}
{{#SUB_PLUG_HEADER_TEMPLATE}}{{/SUB_PLUG_HEADER_TEMPLATE}}
{{#SUB_PLUG_HEADER_ENTRY_TEMPLATE}}{{/SUB_PLUG_HEADER_ENTRY_TEMPLATE}}
{{#SUB_PLUG_TEMPLATE}}
<div class="carousel-item">#SUB_REGION#</div>
{{/SUB_PLUG_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "CAROUSEL_SLIDER",
    "DISPLAY_NAME": "Full Width Carousel",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "carousel-slider",
    "HELP_TEXT": "Our carousel has a full width option that makes it into a simple and elegant image carousel",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
