{{#TEMPLATE}}
<ul id="#REGION_STATIC_ID#" class="ma-region collapsible #REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>#SUB_REGION_HEADERS##SUB_REGIONS#</ul>
{{/TEMPLATE}}
{{#SUB_PLUG_HEADER_TEMPLATE}}{{/SUB_PLUG_HEADER_TEMPLATE}}
{{#SUB_PLUG_HEADER_ENTRY_TEMPLATE}}{{/SUB_PLUG_HEADER_ENTRY_TEMPLATE}}
{{#SUB_PLUG_TEMPLATE}}
<li id="#SUB_REGION_ID#">
	<div class="collapsible-header">#SUB_REGION_TITLE#</div>
	<div class="collapsible-body">#SUB_REGION#</div>
</li>
{{/SUB_PLUG_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "COLLAPSIBLE_BEHAVIOR",
    "DISPLAY_NAME": "Collapsible Behavior",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "",
    "NULL_TEXT": "",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "ACCORDION",
        "DISPLAY_NAME": "Accordion",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "accordion",
        "HELP_TEXT": ""
      },
      {
        "NAME": "EXPANDABLE",
        "DISPLAY_NAME": "Expandable",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "expandable",
        "HELP_TEXT": ""
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "POPOUT",
    "DISPLAY_NAME": "Popout",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "popout",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
