{{#TEMPLATE}}
<div id="#REGION_STATIC_ID#" class="ma-region region modal #REGION_CSS_CLASSES#">
	<div class="modal-content">
		<h4 class="modal-title"><i class="material-icons">#ICON_CSS_CLASSES#</i>#TITLE#</h4>
		<div class="modal-inner-content">#BODY#</div>
	</div>
</div>

{{/TEMPLATE}}
{{#SUB_PLUG_HEADER_TEMPLATE}}{{/SUB_PLUG_HEADER_TEMPLATE}}
{{#SUB_PLUG_HEADER_ENTRY_TEMPLATE}}{{/SUB_PLUG_HEADER_ENTRY_TEMPLATE}}
{{#SUB_PLUG_TEMPLATE}}{{/SUB_PLUG_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "BOTTOM_SHEET",
    "DISPLAY_NAME": "Bottom Sheet",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "bottom-sheet",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
