{{#template}}
<div id="#REGION_STATIC_ID#" class="ma-region parallax-container #REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>
	<div class="parallax">#BODY#</div>
	<div class="parallax-content">#SUB_REGION_HEADERS##SUB_REGIONS#</div>
</div>
{{/template}}

{{#sub_plug_header_template}}{{/sub_plug_header_template}}
{{#sub_plug_header_entry_template}}{{/sub_plug_header_entry_template}}
{{#sub_plug_template}}{{/sub_plug_template}}
