{{#TEMPLATE}}
<div id="#REGION_STATIC_ID#" class="ma-region slider #REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>
	<div class="ma-region-body">#BODY#</div>
	<ul class="slides">#SUB_REGIONS#</ul>
</div>

{{/TEMPLATE}}
{{#SUB_PLUG_HEADER_TEMPLATE}}{{/SUB_PLUG_HEADER_TEMPLATE}}
{{#SUB_PLUG_HEADER_ENTRY_TEMPLATE}}{{/SUB_PLUG_HEADER_ENTRY_TEMPLATE}}
{{#SUB_PLUG_TEMPLATE}}
<li>#SUB_REGION#</li>

{{/SUB_PLUG_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "SLIDER_FULLSCREEN",
    "DISPLAY_NAME": "Fullscreen",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "fullscreen",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
