{{#TEMPLATE}}
<div id="#REGION_STATIC_ID#" class="ma-region ma-region-tabs #REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>#SUB_REGION_HEADERS##SUB_REGIONS#</div>
{{/TEMPLATE}}
{{#SUB_PLUG_HEADER_TEMPLATE}}
<ul class="tabs tabs-fixed-width">#ENTRIES#</ul>
{{/SUB_PLUG_HEADER_TEMPLATE}}
{{#SUB_PLUG_HEADER_ENTRY_TEMPLATE}}
<li class="tab">
	<a href="#tab-#SUB_REGION_ID#" data-subregion-id="tab-#SUB_REGION_ID#">
		<span>#SUB_REGION_TITLE#</span>
	</a>
</li>
{{/SUB_PLUG_HEADER_ENTRY_TEMPLATE}}
{{#SUB_PLUG_TEMPLATE}}
<div id="tab-#SUB_REGION_ID#" class="ma-subregion-tab">#SUB_REGION#</div>
{{/SUB_PLUG_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "TABS_POSITION",
    "DISPLAY_NAME": "Position",
    "DISPLAY_SEQUENCE": 0,
    "HELP_TEXT": "The position of your tabs",
    "NULL_TEXT": "Default",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "TABS_POSITION_BOTTOM",
        "DISPLAY_NAME": "Fixed Bottom - Always",
        "DISPLAY_SEQUENCE": 10,
        "CSS_CLASSES": "ma-tabs-position-bottom",
        "HELP_TEXT": ""
      },
      {
        "NAME": "TABS_POSITION_BOTTOM_MOBILE",
        "DISPLAY_NAME": "Fixed Bottom - Mobile Only",
        "DISPLAY_SEQUENCE": 20,
        "CSS_CLASSES": "ma-tabs-position-bottom-mobile",
        "HELP_TEXT": ""
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "REMEMBER_ACTIVE_TAB",
    "DISPLAY_NAME": "Remember Active Tab",
    "DISPLAY_SEQUENCE": 10,
    "CSS_CLASSES": "js-useLocalStorage",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  },
	{
    "NAME": "TABS_TRANSPARENT",
    "DISPLAY_NAME": "Tabs Transparent",
    "DISPLAY_SEQUENCE": 20,
    "CSS_CLASSES": "tabs-transparent",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
