{{#ROW_TEMPLATE_BEFORE_ROWS}}

{{/ROW_TEMPLATE_BEFORE_ROWS}}

{{#BEFORE_COLUMN_HEADING}}{{/BEFORE_COLUMN_HEADING}}

{{#COLUMN_HEADING_TEMPLATE}}{{/COLUMN_HEADING_TEMPLATE}}

{{#AFTER_COLUMN_HEADING}}{{/AFTER_COLUMN_HEADING}}

{{#ROW_TEMPLATE_BEFORE_FIRST}}{{/ROW_TEMPLATE_BEFORE_FIRST}}

{{#ROW_TEMPLATE1}}
<div class="chip">
    #IMAGE#
    #TEXT#
    <i class="close fa fa-times" aria-hidden="true"></i>
</div>
{{/ROW_TEMPLATE1}}
{{#ROW_TEMPLATE_CONDITION1}}
:IND_CLOSABLE is not null AND :IMAGE is not null
{{/ROW_TEMPLATE_CONDITION1}}
{{#ROW_TEMPLATE_DISPLAY_COND1}}
NOT_CONDITIONAL
{{/ROW_TEMPLATE_DISPLAY_COND1}}
{{#ROW_TEMPLATE2}}
<div class="chip">
    #IMAGE#
    #TEXT#
</div>
{{/ROW_TEMPLATE2}}
{{#ROW_TEMPLATE_CONDITION2}}
:IMAGE is not null
{{/ROW_TEMPLATE_CONDITION2}}
{{#ROW_TEMPLATE_DISPLAY_COND2}}
NOT_CONDITIONAL
{{/ROW_TEMPLATE_DISPLAY_COND2}}
{{#ROW_TEMPLATE3}}
<div class="chip">
    #TEXT#
    <i class="close fa fa-times" aria-hidden="true"></i>
</div>
{{/ROW_TEMPLATE3}}
{{#ROW_TEMPLATE_CONDITION3}}
:IND_CLOSABLE is not null
{{/ROW_TEMPLATE_CONDITION3}}
{{#ROW_TEMPLATE_DISPLAY_COND3}}
NOT_CONDITIONAL
{{/ROW_TEMPLATE_DISPLAY_COND3}}
{{#ROW_TEMPLATE4}}
<div class="chip">
    #TEXT#
</div>
{{/ROW_TEMPLATE4}}
{{#ROW_TEMPLATE_CONDITION4}}{{/ROW_TEMPLATE_CONDITION4}}
{{#ROW_TEMPLATE_DISPLAY_COND4}}
NOT_CONDITIONAL
{{/ROW_TEMPLATE_DISPLAY_COND4}}

{{#ROW_TEMPLATE_AFTER_LAST}}{{/ROW_TEMPLATE_AFTER_LAST}}

{{#ROW_TEMPLATE_AFTER_ROWS}}

{{/ROW_TEMPLATE_AFTER_ROWS}}

{{#PAGINATION_TEMPLATE}}{{/PAGINATION_TEMPLATE}}
{{#NEXT_PAGE_TEMPLATE}}{{/NEXT_PAGE_TEMPLATE}}
{{#PREVIOUS_PAGE_TEMPLATE}}{{/PREVIOUS_PAGE_TEMPLATE}}
{{#NEXT_SET_TEMPLATE}}{{/NEXT_SET_TEMPLATE}}
{{#PREVIOUS_SET_TEMPLATE}}{{/PREVIOUS_SET_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
