{{#ROW_TEMPLATE_BEFORE_ROWS}}
<ul class="collection #COMPONENT_CSS_CLASSES#">
    <li class="collection-header">
        <h4>#REGION_TITLE#</h4>
    </li>

{{/ROW_TEMPLATE_BEFORE_ROWS}}

{{#BEFORE_COLUMN_HEADING}}{{/BEFORE_COLUMN_HEADING}}

{{#COLUMN_HEADING_TEMPLATE}}{{/COLUMN_HEADING_TEMPLATE}}

{{#AFTER_COLUMN_HEADING}}{{/AFTER_COLUMN_HEADING}}

{{#ROW_TEMPLATE_BEFORE_FIRST}}{{/ROW_TEMPLATE_BEFORE_FIRST}}

{{#ROW_TEMPLATE1}}
        <li class="collection-item">
            #TEXT#
            <span class="new badge truncate">#BADGE#</span>
            <a href="#SECONDARY_LINK#" class="secondary-content"><i class="material-icons">#SECONDARY_ICON#</i></a>
        </li>

{{/ROW_TEMPLATE1}}
{{#ROW_TEMPLATE_CONDITION1}}
:NEW_BADGE is not null
{{/ROW_TEMPLATE_CONDITION1}}
{{#ROW_TEMPLATE_DISPLAY_COND1}}
NOT_CONDITIONAL
{{/ROW_TEMPLATE_DISPLAY_COND1}}
{{#ROW_TEMPLATE2}}
        <li class="collection-item">
            #TEXT#
            <span class="new badge truncate">#BADGE#</span>
            <a href="#SECONDARY_LINK#" class="secondary-content"><i class="material-icons">#SECONDARY_ICON#</i></a>
        </li>

{{/ROW_TEMPLATE2}}
{{#ROW_TEMPLATE_CONDITION2}}
:NEW_BADGE is not null
{{/ROW_TEMPLATE_CONDITION2}}
{{#ROW_TEMPLATE_DISPLAY_COND2}}
NOT_CONDITIONAL
{{/ROW_TEMPLATE_DISPLAY_COND2}}
{{#ROW_TEMPLATE3}}
        <li class="collection-item">
            #TEXT#
            <span class="badge truncate">#BADGE#</span>
            <a href="#SECONDARY_LINK#" class="secondary-content"><i class="material-icons">#SECONDARY_ICON#</i></a>
        </li>

{{/ROW_TEMPLATE3}}
{{#ROW_TEMPLATE_CONDITION3}}
:NEW_BADGE is null
{{/ROW_TEMPLATE_CONDITION3}}
{{#ROW_TEMPLATE_DISPLAY_COND3}}
NOT_CONDITIONAL
{{/ROW_TEMPLATE_DISPLAY_COND3}}
{{#ROW_TEMPLATE4}}
        <li class="collection-item">
            #TEXT#
            <span class="badge truncate">#BADGE#</span>
            <a href="#SECONDARY_LINK#" class="secondary-content"><i class="material-icons">#SECONDARY_ICON#</i></a>
        </li>

{{/ROW_TEMPLATE4}}
{{#ROW_TEMPLATE_CONDITION4}}{{/ROW_TEMPLATE_CONDITION4}}
{{#ROW_TEMPLATE_DISPLAY_COND4}}
NOT_CONDITIONAL
{{/ROW_TEMPLATE_DISPLAY_COND4}}

{{#ROW_TEMPLATE_AFTER_LAST}}{{/ROW_TEMPLATE_AFTER_LAST}}

{{#ROW_TEMPLATE_AFTER_ROWS}}
</ul>

{{/ROW_TEMPLATE_AFTER_ROWS}}

{{#PAGINATION_TEMPLATE}}{{/PAGINATION_TEMPLATE}}
{{#NEXT_PAGE_TEMPLATE}}{{/NEXT_PAGE_TEMPLATE}}
{{#PREVIOUS_PAGE_TEMPLATE}}{{/PREVIOUS_PAGE_TEMPLATE}}
{{#NEXT_SET_TEMPLATE}}{{/NEXT_SET_TEMPLATE}}
{{#PREVIOUS_SET_TEMPLATE}}{{/PREVIOUS_SET_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "WITH_HEADER",
    "DISPLAY_NAME": "With Header",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "with-header",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
