{{#ROW_TEMPLATE_BEFORE_ROWS}}
<a class="btn dropdown-trigger #COMPONENT_CSS_CLASSES#" href="#!" data-target="#REGION_STATIC_ID#-report">
    #REGION_TITLE#
    <i class="fa fa-caret-down right" aria-hidden="true"></i>
</a>
<ul id="#REGION_STATIC_ID#-report" class="dropdown-content">
{{/ROW_TEMPLATE_BEFORE_ROWS}}

{{#BEFORE_COLUMN_HEADING}}{{/BEFORE_COLUMN_HEADING}}

{{#COLUMN_HEADING_TEMPLATE}}{{/COLUMN_HEADING_TEMPLATE}}

{{#AFTER_COLUMN_HEADING}}{{/AFTER_COLUMN_HEADING}}

{{#ROW_TEMPLATE_BEFORE_FIRST}}{{/ROW_TEMPLATE_BEFORE_FIRST}}

{{#ROW_TEMPLATE1}}
<li>
    <a href="#TARGET#">
        #DISPLAY#
        <span class="new badge">#BADGE#</span>
    </a>
</li>
{{/ROW_TEMPLATE1}}
{{#ROW_TEMPLATE_CONDITION1}}
:NEW_BADGE is not null
{{/ROW_TEMPLATE_CONDITION1}}
{{#ROW_TEMPLATE_DISPLAY_COND1}}
NOT_CONDITIONAL
{{/ROW_TEMPLATE_DISPLAY_COND1}}
{{#ROW_TEMPLATE2}}
<li>
    <a href="#TARGET#">
        #DISPLAY#
        <span class="badge">#BADGE#</span>
    </a>
</li>
{{/ROW_TEMPLATE2}}
{{#ROW_TEMPLATE_CONDITION2}}{{/ROW_TEMPLATE_CONDITION2}}
{{#ROW_TEMPLATE_DISPLAY_COND2}}
0
{{/ROW_TEMPLATE_DISPLAY_COND2}}
{{#ROW_TEMPLATE3}}{{/ROW_TEMPLATE3}}
{{#ROW_TEMPLATE_CONDITION3}}{{/ROW_TEMPLATE_CONDITION3}}
{{#ROW_TEMPLATE_DISPLAY_COND3}}
0
{{/ROW_TEMPLATE_DISPLAY_COND3}}
{{#ROW_TEMPLATE4}}{{/ROW_TEMPLATE4}}
{{#ROW_TEMPLATE_CONDITION4}}{{/ROW_TEMPLATE_CONDITION4}}
{{#ROW_TEMPLATE_DISPLAY_COND4}}
0
{{/ROW_TEMPLATE_DISPLAY_COND4}}

{{#ROW_TEMPLATE_AFTER_LAST}}{{/ROW_TEMPLATE_AFTER_LAST}}

{{#ROW_TEMPLATE_AFTER_ROWS}}
</ul>
{{/ROW_TEMPLATE_AFTER_ROWS}}

{{#PAGINATION_TEMPLATE}}{{/PAGINATION_TEMPLATE}}
{{#NEXT_PAGE_TEMPLATE}}{{/NEXT_PAGE_TEMPLATE}}
{{#PREVIOUS_PAGE_TEMPLATE}}{{/PREVIOUS_PAGE_TEMPLATE}}
{{#NEXT_SET_TEMPLATE}}{{/NEXT_SET_TEMPLATE}}
{{#PREVIOUS_SET_TEMPLATE}}{{/PREVIOUS_SET_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "DROPDOWN_WIDTH",
    "DISPLAY_NAME": "Dropdown Width",
    "DISPLAY_SEQUENCE": 10,
    "HELP_TEXT": "",
    "NULL_TEXT": "",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "DROPDOWN_WIDTH_CONSTRAINED",
        "DISPLAY_NAME": "Same as button (trigger)",
        "DISPLAY_SEQUENCE": 10,
        "CSS_CLASSES": "ma-dropdown--width-constrained",
        "HELP_TEXT": ""
      },
      {
        "NAME": "DROPDOWN_WIDTH_AUTO",
        "DISPLAY_NAME": "Auto",
        "DISPLAY_SEQUENCE": 20,
        "CSS_CLASSES": "ma-dropdown--width-auto",
        "HELP_TEXT": ""
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}
ma-dropdown--width-constrained
{{/PRESET_TEMPLATE_OPTIONS}}
