{{#ROW_TEMPLATE_BEFORE_ROWS}}
<div id="#REGION_STATIC_ID#_report" class="slider #COMPONENT_CSS_CLASSES#">
<ul class="slides">

{{/ROW_TEMPLATE_BEFORE_ROWS}}

{{#BEFORE_COLUMN_HEADING}}{{/BEFORE_COLUMN_HEADING}}

{{#COLUMN_HEADING_TEMPLATE}}{{/COLUMN_HEADING_TEMPLATE}}

{{#AFTER_COLUMN_HEADING}}{{/AFTER_COLUMN_HEADING}}

{{#ROW_TEMPLATE_BEFORE_FIRST}}{{/ROW_TEMPLATE_BEFORE_FIRST}}

{{#ROW_TEMPLATE1}}
        <li>
            #IMG#
            <div class="caption">
                <h3>#TITLE#</h3>
                <h5>#DESCRIPTION#</h5>
            </div>
        </li>

{{/ROW_TEMPLATE1}}
{{#ROW_TEMPLATE_CONDITION1}}{{/ROW_TEMPLATE_CONDITION1}}
{{#ROW_TEMPLATE_DISPLAY_COND1}}
0
{{/ROW_TEMPLATE_DISPLAY_COND1}}
{{#ROW_TEMPLATE2}}{{/ROW_TEMPLATE2}}
{{#ROW_TEMPLATE_CONDITION2}}{{/ROW_TEMPLATE_CONDITION2}}
{{#ROW_TEMPLATE_DISPLAY_COND2}}
0
{{/ROW_TEMPLATE_DISPLAY_COND2}}
{{#ROW_TEMPLATE3}}{{/ROW_TEMPLATE3}}
{{#ROW_TEMPLATE_CONDITION3}}{{/ROW_TEMPLATE_CONDITION3}}
{{#ROW_TEMPLATE_DISPLAY_COND3}}
0
{{/ROW_TEMPLATE_DISPLAY_COND3}}
{{#ROW_TEMPLATE4}}{{/ROW_TEMPLATE4}}
{{#ROW_TEMPLATE_CONDITION4}}{{/ROW_TEMPLATE_CONDITION4}}
{{#ROW_TEMPLATE_DISPLAY_COND4}}
0
{{/ROW_TEMPLATE_DISPLAY_COND4}}

{{#ROW_TEMPLATE_AFTER_LAST}}{{/ROW_TEMPLATE_AFTER_LAST}}

{{#ROW_TEMPLATE_AFTER_ROWS}}
</ul>
</div>

{{/ROW_TEMPLATE_AFTER_ROWS}}

{{#PAGINATION_TEMPLATE}}{{/PAGINATION_TEMPLATE}}
{{#NEXT_PAGE_TEMPLATE}}{{/NEXT_PAGE_TEMPLATE}}
{{#PREVIOUS_PAGE_TEMPLATE}}{{/PREVIOUS_PAGE_TEMPLATE}}
{{#NEXT_SET_TEMPLATE}}{{/NEXT_SET_TEMPLATE}}
{{#PREVIOUS_SET_TEMPLATE}}{{/PREVIOUS_SET_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "SLIDER_FULLSCREEN",
    "DISPLAY_NAME": "Fullscreen",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "fullscreen",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
