{{#row_template_before_rows}}
<div id="#REGION_STATIC_ID#_report" class="slider #COMPONENT_CSS_CLASSES#">
<ul class="slides">
{{/row_template_before_rows}}

    {{#before_column_heading}}{{/before_column_heading}}

        {{#column_heading_template}}{{/column_heading_template}}

    {{#after_column_heading}}{{/after_column_heading}}

    {{#row_template_before_first}}{{/row_template_before_first}}

        {{#row_template1}}
        <li>
            #IMG#
            <div class="caption">
                <h3>#TITLE#</h3>
                <h5>#DESCRIPTION#</h5>
            </div>
        </li>
        {{/row_template1}}
        {{#row_template_condition1}}{{/row_template_condition1}}
        {{#row_template_display_cond1}}{{/row_template_display_cond1}}
        {{#row_template2}}{{/row_template2}}
        {{#row_template_condition2}}{{/row_template_condition2}}
        {{#row_template_display_cond2}}{{/row_template_display_cond2}}
        {{#row_template3}}{{/row_template3}}
        {{#row_template_condition3}}{{/row_template_condition3}}
        {{#row_template_display_cond3}}{{/row_template_display_cond3}}
        {{#row_template4}}{{/row_template4}}
        {{#row_template_condition4}}{{/row_template_condition4}}
        {{#row_template_display_cond4}}{{/row_template_display_cond4}}

    {{#row_template_after_last}}
    {{/row_template_after_last}}

{{#row_template_after_rows}}
</ul>
</div>
{{/row_template_after_rows}}

{{#pagination_template}}{{/pagination_template}}
{{#next_page_template}}{{/next_page_template}}
{{#previous_page_template}}{{/previous_page_template}}
{{#next_set_template}}{{/next_set_template}}
{{#previous_set_template}}{{/previous_set_template}}

{{#template_options}}
[
    {
        "name": "SLIDER_FULLSCREEN",
        "display_name": "Fullscreen",
        "display_sequence": 1,
        "css_classes": "fullscreen",
        "help_text": "",
        "is_advanced": ""
    }
]
{{/template_options}}
