{{#javascript_file_urls}}
{{/javascript_file_urls}}
{{#javascript_code_onload}}
{{/javascript_code_onload}}
{{#css_file_urls}}
{{/css_file_urls}}
{{#inline_css}}
{{/inline_css}}

{{#list_template_before_rows}}
<ul id="#LIST_ID#" class="right navbar-list #COMPONENT_CSS_CLASSES#">
{{/list_template_before_rows}}
    {{#list_template_current}}
    <li class="active">
        <a id="#LIST_ITEM_ID#" href="#LINK#" class="#A01#">
            <i class="material-icons right-l">#ICON_CSS_CLASSES#</i>
            <span class="hide-on-med-and-down">#TEXT#</span>
        </a>
    </li>
    {{/list_template_current}}
    {{#list_template_noncurrent}}
    <li>
        <a id="#LIST_ITEM_ID#" href="#LINK#" class="#A01#">
            <i class="material-icons right-l">#ICON_CSS_CLASSES#</i>
            <span class="hide-on-med-and-down">#TEXT#</span>
        </a>
    </li>
    {{/list_template_noncurrent}}
    {{#item_template_curr_w_child}}
    <li class="active">
        <a id="#LIST_ITEM_ID#" class="dropdown-button #A01#" href="#LINK#" data-activates="#LIST_ITEM_ID#-menu">
            <span class="hide-on-med-and-down">#TEXT#</span>
            <i class="mdi-navigation-arrow-drop-down right-l"></i>
        </a>
    </li>
    {{/item_template_curr_w_child}}
    {{#item_template_noncurr_w_child}}
    <li>
        <a id="#LIST_ITEM_ID#" class="dropdown-button #A01#" href="#LINK#" data-activates="#LIST_ITEM_ID#-menu">
            <span class="hide-on-med-and-down">#TEXT#</span>
            <i class="mdi-navigation-arrow-drop-down right-l"></i>
        </a>
    </li>
    {{/item_template_noncurr_w_child}}
    {{#between_items}}
    {{/between_items}}

    {{#before_sub_list}}
    <ul id="#PARENT_LIST_ITEM_ID#-menu" class="dropdown-content">
    {{/before_sub_list}}
        {{#sub_list_item_current}}
        <li><a href="#LINK#">#TEXT#</a></li>
        {{/sub_list_item_current}}
        {{#sub_template_curr_w_child}}{{/sub_template_curr_w_child}}
        {{#sub_list_item_noncurrent}}
        <li><a href="#LINK#">#TEXT#</a></li>
        {{/sub_list_item_noncurrent}}
        {{#sub_template_noncurr_w_child}}{{/sub_template_noncurr_w_child}}
        {{#between_sub_list_items}}{{/between_sub_list_items}}
    {{#after_sub_list}}
    </ul>
    {{/after_sub_list}}

    {{#first_list_template_noncurrent}}{{/first_list_template_noncurrent}}
    {{#first_list_template_current}}{{/first_list_template_current}}
    {{#f_item_template_curr_w_child}}{{/f_item_template_curr_w_child}}
    {{#fitem_template_noncurr_w_child}}{{/fitem_template_noncurr_w_child}}
{{#list_template_after_rows}}
</ul>
{{/list_template_after_rows}}

{{#a01_label}}Button CSS Classes{{/a01_label}}
{{#a02_label}}{{/a02_label}}
{{#a03_label}}{{/a03_label}}
{{#a04_label}}{{/a04_label}}
{{#a05_label}}{{/a05_label}}
{{#a06_label}}{{/a06_label}}
{{#a07_label}}{{/a07_label}}
{{#a08_label}}{{/a08_label}}
{{#a09_label}}{{/a09_label}}
{{#a10_label}}{{/a10_label}}
{{#a11_label}}{{/a11_label}}
{{#a12_label}}{{/a12_label}}
{{#a13_label}}{{/a13_label}}
{{#a14_label}}{{/a14_label}}
{{#a15_label}}{{/a15_label}}
{{#a16_label}}{{/a16_label}}
{{#a17_label}}{{/a17_label}}
{{#a18_label}}{{/a18_label}}
{{#a19_label}}{{/a19_label}}
{{#a20_label}}{{/a20_label}}
