{{#row_template_before_rows}}
<div class="row #COMPONENT_CSS_CLASSES#">
{{/row_template_before_rows}}

    {{#before_column_heading}}{{/before_column_heading}}

        {{#column_heading_template}}{{/column_heading_template}}

    {{#after_column_heading}}{{/after_column_heading}}

    {{#row_template_before_first}}{{/row_template_before_first}}

        {{#row_template1}}
        <div class="ma-card-col col s12">
            <div class="card">
                <div class="card-image">
                    #IMG#
                    <span class="card-title">#TITLE#</span>
                </div>

                <div class="card-stacked">
                    <div class="card-content">
                        #CONTENT#
                    </div>

                    <div class="card-action">
                        <a href="#BTN_LINK_1#">#BTN_LABEL_1#</a>
                        <a href="#BTN_LINK_2#">#BTN_LABEL_2#</a>
                    </div>
                </div>

            </div>
        </div>
        {{/row_template1}}
        {{#row_template_condition1}}{{/row_template_condition1}}
        {{#row_template_display_cond1}}{{/row_template_display_cond1}}
        {{#row_template2}}{{/row_template2}}
        {{#row_template_condition2}}{{/row_template_condition2}}
        {{#row_template_display_cond2}}{{/row_template_display_cond2}}
        {{#row_template3}}{{/row_template3}}
        {{#row_template_condition3}}{{/row_template_condition3}}
        {{#row_template_display_cond3}}{{/row_template_display_cond3}}
        {{#row_template4}}{{/row_template4}}
        {{#row_template_condition4}}{{/row_template_condition4}}
        {{#row_template_display_cond4}}{{/row_template_display_cond4}}

    {{#row_template_after_last}}
    {{/row_template_after_last}}

{{#row_template_after_rows}}
</div>
{{/row_template_after_rows}}

{{#pagination_template}}{{/pagination_template}}
{{#next_page_template}}{{/next_page_template}}
{{#previous_page_template}}{{/previous_page_template}}
{{#next_set_template}}{{/next_set_template}}
{{#previous_set_template}}{{/previous_set_template}}

{{#template_option_groups}}
[
    {
        "name": "CARD_COLUMNS",
        "display_name": "Number of columns",
        "display_sequence": 1,
        "help_text": "",
        "null_text": "",
        "is_advanced": "N",
        "template_options": [
            {
                "name": "CARD_COL1",
                "display_name": "1 Column",
                "display_sequence": 1,
                "css_classes": "ma-card-col-1",
                "help_text": ""
            },
            {
                "name": "CARD_COL2",
                "display_name": "2 Columns",
                "display_sequence": 2,
                "css_classes": "ma-card-col-2",
                "help_text": ""
            },
            {
                "name": "CARD_COL3",
                "display_name": "3 Columns",
                "display_sequence": 3,
                "css_classes": "ma-card-col-3",
                "help_text": ""
            },
            {
                "name": "CARD_COL4",
                "display_name": "4 Columns",
                "display_sequence": 4,
                "css_classes": "ma-card-col-4",
                "help_text": ""
            }
        ]
    }
]
{{/template_option_groups}}

{{#template_options}}
[
    {
        "name": "CARD_HORIZONTAL",
        "display_name": "Horizontal",
        "display_sequence": 1,
        "css_classes": "ma-card-horizontal",
        "help_text": "",
        "is_advanced": ""
    }
]
{{/template_options}}
