{{#row_template_before_rows}}
<div class="row u-colors #COMPONENT_CSS_CLASSES#">
{{/row_template_before_rows}}

	{{#before_column_heading}}{{/before_column_heading}}
		{{#column_heading_template}}{{/column_heading_template}}
	{{#after_column_heading}}{{/after_column_heading}}
	{{#row_template_before_first}}{{/row_template_before_first}}

		{{#row_template1}}
		<div class="ma-card-col col s12">
			<div class="card">
				<div class="card-image">
					<img src="#IMG_SRC#">
					<span class="card-title">#TITLE#</span>
					<a href="#FAB_LINK#" class="btn-floating btn-large halfway-fab waves-effect waves-light u-color #FAB_COLOR#"><i class="material-icons">#FAB_ICON#</i></a>
				</div>

				<div class="ma-card-stacked m-t-2">
					<div class="card-content">#CONTENT#</div>
					<div class="card-action">#BTN_LABEL_1##BTN_LABEL_2#</div>
				</div>
			</div>
		</div>
		{{/row_template1}}
		{{#row_template_condition1}}:FAB_LINK is not null and :FAB_ICON is not null and :IMG_SRC is not null{{/row_template_condition1}}
		{{#row_template_display_cond1}}NOT_CONDITIONAL{{/row_template_display_cond1}}
		{{#row_template2}}
		<div class="ma-card-col col s12">
			<div class="ma-card-image-content">
				<div class="card">
					<div class="card-image">
						<img src="#IMG_SRC#">
						<span class="card-title">#TITLE#</span>
					</div>
					<div class="ma-card-stacked">
						<div class="card-content">
							<p>#CONTENT#</p>
						</div>
						<div class="card-action">#BTN_LABEL_1##BTN_LABEL_2#</div>
					</div>
				</div>
			</div>

			<div class="ma-card-reveal-content">
				<div class="card sticky-action">
					<div class="card-image waves-effect waves-block waves-light">
						<img src="#IMG_SRC#" class="activator">
					</div>
					<div class="card-content">
						<span class="card-title activator">#TITLE#<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-action">#BTN_LABEL_1##BTN_LABEL_2#</div>
					<div class="card-reveal">
						<span class="card-title">#TITLE#<i class="material-icons right">close</i></span>
						<p>#CONTENT#</p>
					</div>
				</div>
			</div>
		</div>
		{{/row_template2}}
		{{#row_template_condition2}}:IMG_SRC is not null{{/row_template_condition2}}
		{{#row_template_display_cond2}}NOT_CONDITIONAL{{/row_template_display_cond2}}
		{{#row_template3}}
		<div class="ma-card-col col s12">
			<div class="card">
				<div class="card-content"><p class="card-title black-text">#TITLE#</p>#CONTENT#</div>
				<div class="card-action">#BTN_LABEL_1##BTN_LABEL_2#</div>
			</div>
		</div>
		{{/row_template3}}
		{{#row_template_condition3}}{{/row_template_condition3}}
		{{#row_template_display_cond3}}{{/row_template_display_cond3}}
		{{#row_template4}}{{/row_template4}}
		{{#row_template_condition4}}{{/row_template_condition4}}
		{{#row_template_display_cond4}}{{/row_template_display_cond4}}

	{{#row_template_after_last}}
	{{/row_template_after_last}}

{{#row_template_after_rows}}
</div>
{{/row_template_after_rows}}

{{#pagination_template}}{{/pagination_template}}
{{#next_page_template}}{{/next_page_template}}
{{#previous_page_template}}{{/previous_page_template}}
{{#next_set_template}}{{/next_set_template}}
{{#previous_set_template}}{{/previous_set_template}}

{{#template_option_groups}}
[
	{
		"name": "CARD_COLUMNS",
		"display_name": "Number of columns",
		"display_sequence": 1,
		"help_text": "",
		"null_text": "",
		"is_advanced": "N",
		"template_options": [
			{
				"name": "CARD_COL1",
				"display_name": "1 Column",
				"display_sequence": 1,
				"css_classes": "ma-card-col-1",
				"help_text": ""
			},
			{
				"name": "CARD_COL2",
				"display_name": "2 Columns",
				"display_sequence": 2,
				"css_classes": "ma-card-col-2",
				"help_text": ""
			},
			{
				"name": "CARD_COL3",
				"display_name": "3 Columns",
				"display_sequence": 3,
				"css_classes": "ma-card-col-3",
				"help_text": ""
			},
			{
				"name": "CARD_COL4",
				"display_name": "4 Columns",
				"display_sequence": 4,
				"css_classes": "ma-card-col-4",
				"help_text": ""
			}
		]
	}
]
{{/template_option_groups}}

{{#template_options}}
[
	{
		"name": "CARD_HORIZONTAL",
		"display_name": "Horizontal",
		"display_sequence": 1,
		"css_classes": "ma-card-horizontal",
		"help_text": "If the card contains an image, it will be displayed horizontally",
		"is_advanced": ""
	},
	{
		"name": "CARD_HOVERABLE1",
		"display_name": "Hoverable",
		"display_sequence": 2,
		"css_classes": "ma-card-hoverable",
		"help_text": "",
		"is_advanced": ""
	},
	{
		"name": "CARD_REVEAL",
		"display_name": "Reveal Effect",
		"display_sequence": 3,
		"css_classes": "ma-card-reveal",
		"help_text": "The content will unfold when clicking on the card.",
		"is_advanced": "Y"
	}
]
{{/template_options}}
