{{#row_template_before_rows}}
<section class="cd-timeline cd-container">
{{/row_template_before_rows}}

    {{#before_column_heading}}{{/before_column_heading}}

        {{#column_heading_template}}{{/column_heading_template}}

    {{#after_column_heading}}{{/after_column_heading}}

    {{#row_template_before_first}}{{/row_template_before_first}}

        {{#row_template1}}
        <div class="cd-timeline-block">
			<div class="cd-timeline-img blue lighten-2">
				<i class="material-icons">#ICON#</i>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content z-depth-1">
				<h5>#TITLE#</h5>
				<p class="flow-text">#DESCRIPTION#</p>
				<a href="#BTN_LINK#" class="btn cd-read-more">#BTN_LABEL#</a>
				<span class="cd-date">#TIMELINE_DATE#</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
        {{/row_template1}}
        {{#row_template_condition1}}{{/row_template_condition1}}
        {{#row_template_display_cond1}}{{/row_template_display_cond1}}
        {{#row_template2}}
        {{/row_template2}}
        {{#row_template_condition2}}{{/row_template_condition2}}
        {{#row_template_display_cond2}}{{/row_template_display_cond2}}
        {{#row_template3}}{{/row_template3}}
        {{#row_template_condition3}}{{/row_template_condition3}}
        {{#row_template_display_cond3}}{{/row_template_display_cond3}}
        {{#row_template4}}{{/row_template4}}
        {{#row_template_condition4}}{{/row_template_condition4}}
        {{#row_template_display_cond4}}{{/row_template_display_cond4}}

    {{#row_template_after_last}}
    {{/row_template_after_last}}

{{#row_template_after_rows}}
</section>
{{/row_template_after_rows}}

{{#pagination_template}}{{/pagination_template}}
{{#next_page_template}}{{/next_page_template}}
{{#previous_page_template}}{{/previous_page_template}}
{{#next_set_template}}{{/next_set_template}}
{{#previous_set_template}}{{/previous_set_template}}
