{{#ROW_TEMPLATE_BEFORE_ROWS}}
<table id="report_#REGION_STATIC_ID#" class="#COMPONENT_CSS_CLASSES#" #REPORT_ATTRIBUTES#>

{{/ROW_TEMPLATE_BEFORE_ROWS}}

{{#BEFORE_COLUMN_HEADING}}
<thead>
<tr>

{{/BEFORE_COLUMN_HEADING}}
{{#COLUMN_HEADING_TEMPLATE}}
    <th data-field="#COLUMN_HEADER_NAME#" #ALIGNMENT# #COLUMN_WIDTH# id="#COLUMN_HEADER_NAME#">#COLUMN_HEADER#</th>

{{/COLUMN_HEADING_TEMPLATE}}
{{#AFTER_COLUMN_HEADING}}
</tr>
</thead>
<tbody>

{{/AFTER_COLUMN_HEADING}}

{{#ROW_TEMPLATE_BEFORE_FIRST}}
    <tr>

{{/ROW_TEMPLATE_BEFORE_FIRST}}

{{#ROW_TEMPLATE1}}
        <td headers="#COLUMN_HEADER_NAME#" data-label="#COLUMN_HEADER#" #ALIGNMENT#>#COLUMN_VALUE#</td>

{{/ROW_TEMPLATE1}}
{{#ROW_TEMPLATE_CONDITION1}}{{/ROW_TEMPLATE_CONDITION1}}
{{#ROW_TEMPLATE_DISPLAY_COND1}}
0
{{/ROW_TEMPLATE_DISPLAY_COND1}}
{{#ROW_TEMPLATE2}}{{/ROW_TEMPLATE2}}
{{#ROW_TEMPLATE_CONDITION2}}{{/ROW_TEMPLATE_CONDITION2}}
{{#ROW_TEMPLATE_DISPLAY_COND2}}
0
{{/ROW_TEMPLATE_DISPLAY_COND2}}
{{#ROW_TEMPLATE3}}{{/ROW_TEMPLATE3}}
{{#ROW_TEMPLATE_CONDITION3}}{{/ROW_TEMPLATE_CONDITION3}}
{{#ROW_TEMPLATE_DISPLAY_COND3}}
0
{{/ROW_TEMPLATE_DISPLAY_COND3}}
{{#ROW_TEMPLATE4}}{{/ROW_TEMPLATE4}}
{{#ROW_TEMPLATE_CONDITION4}}{{/ROW_TEMPLATE_CONDITION4}}
{{#ROW_TEMPLATE_DISPLAY_COND4}}
0
{{/ROW_TEMPLATE_DISPLAY_COND4}}

{{#ROW_TEMPLATE_AFTER_LAST}}
    </tr>

{{/ROW_TEMPLATE_AFTER_LAST}}

{{#ROW_TEMPLATE_AFTER_ROWS}}
</tbody>
</table>
<tfoot class="right">
    <div>#EXTERNAL_LINK##CSV_LINK#</div>
    <div class="report-pagination">#PAGINATION#</div>
</tfoot>

{{/ROW_TEMPLATE_AFTER_ROWS}}

{{#PAGINATION_TEMPLATE}}
<span class="instructiontext">#TEXT#</span>

{{/PAGINATION_TEMPLATE}}
{{#NEXT_PAGE_TEMPLATE}}
<a href="#LINK#"><i class="material-icons">navigate_next</i></a>

{{/NEXT_PAGE_TEMPLATE}}
{{#PREVIOUS_PAGE_TEMPLATE}}
<a href="#LINK#"><i class="material-icons">navigate_before</i></a>

{{/PREVIOUS_PAGE_TEMPLATE}}
{{#NEXT_SET_TEMPLATE}}
<a href="#LINK#"><i class="material-icons">skip_next</i></a>

{{/NEXT_SET_TEMPLATE}}
{{#PREVIOUS_SET_TEMPLATE}}
<a href="#LINK#"><i class="material-icons">skip_previous</i></a>

{{/PREVIOUS_SET_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "RESPONSIVE_BEHAVIOR",
    "DISPLAY_NAME": "Responsive Behavior",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "",
    "NULL_TEXT": "",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "RESPONSIVE",
        "DISPLAY_NAME": "Style 1",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "responsive-table",
        "HELP_TEXT": ""
      },
      {
        "NAME": "STYLE_2",
        "DISPLAY_NAME": "Style 2",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "table-responsive",
        "HELP_TEXT": ""
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "BORDERLESS",
    "DISPLAY_NAME": "Borderless",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "borderless",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  },
  {
    "NAME": "STRIPED",
    "DISPLAY_NAME": "Striped",
    "DISPLAY_SEQUENCE": 2,
    "CSS_CLASSES": "striped",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  },
  {
    "NAME": "HOVERABLE",
    "DISPLAY_NAME": "Hoverable",
    "DISPLAY_SEQUENCE": 3,
    "CSS_CLASSES": "highlight",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}
borderless
{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
