{{#template}}
<a href="#LINK#" id="#BUTTON_ID#" class="#BUTTON_CSS_CLASSES#" #BUTTON_ATTRIBUTES#>
    <i class="material-icons">#ICON_CSS_CLASSES#</i>
    #LABEL#
</a>
{{/template}}

{{#hot_template}}{{/hot_template}}
