{{#TEMPLATE}}
<button type="button" onclick="#JAVASCRIPT#" id="#BUTTON_ID#" class="fixed-action-btn btn-floating #BUTTON_CSS_CLASSES#" #BUTTON_ATTRIBUTES# title="#LABEL#" aria-label="#LABEL#">
    <i class="material-icons">#ICON_CSS_CLASSES#</i>
</button>


{{/TEMPLATE}}
{{#HOT_TEMPLATE}}
<a href="#LINK#" id="#BUTTON_ID#" class="fixed-action-btn btn-floating #BUTTON_CSS_CLASSES#" #BUTTON_ATTRIBUTES# title="#LABEL#" aria-label="#LABEL#">
    <i class="material-icons">#ICON_CSS_CLASSES#</i>
</a>

{{/HOT_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "POSITION",
    "DISPLAY_NAME": "Position",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "",
    "NULL_TEXT": "",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "RIGHT",
        "DISPLAY_NAME": "Fixed - Bottom Right",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "fab-right",
        "HELP_TEXT": ""
      },
      {
        "NAME": "LEFT",
        "DISPLAY_NAME": "Fixed - Bottom Left",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "fab-left",
        "HELP_TEXT": ""
      },
      {
        "NAME": "INSIDE_THE_PARENT",
        "DISPLAY_NAME": "Inside the Parent",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "fab-absolute",
        "HELP_TEXT": ""
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "FAB_HORIZONTAL",
    "DISPLAY_NAME": "Horizontal",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "horizontal",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  },
  {
    "NAME": "CLICK_TO_TOGGLE",
    "DISPLAY_NAME": "Click to Toggle",
    "DISPLAY_SEQUENCE": 2,
    "CSS_CLASSES": "click-to-toggle",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  },
  {
    "NAME": "FAB_TOOLBAR",
    "DISPLAY_NAME": "Toolbar",
    "DISPLAY_SEQUENCE": 3,
    "CSS_CLASSES": "toolbar",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}
fab-right:btn-large:waves-effect waves-light
{{/PRESET_TEMPLATE_OPTIONS}}
