{{#TEMPLATE}}
<button type="button" onclick="#JAVASCRIPT#" id="#BUTTON_ID#" class="ma-button ma-button-icon #BUTTON_CSS_CLASSES#" #BUTTON_ATTRIBUTES# title="#LABEL#" aria-label="#LABEL#">
	<i class="material-icons">#ICON_CSS_CLASSES#</i>
</button>


{{/TEMPLATE}}
{{#HOT_TEMPLATE}}
<a href="#LINK#" id="#BUTTON_ID#" class="ma-button ma-button-icon ma-button-hot #BUTTON_CSS_CLASSES#" #BUTTON_ATTRIBUTES# title="#LABEL#" aria-label="#LABEL#">
	<i class="material-icons">#ICON_CSS_CLASSES#</i>
</a>

{{/HOT_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "TYPE",
    "DISPLAY_NAME": "Type",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "",
    "NULL_TEXT": "",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "RAISED",
        "DISPLAY_NAME": "Raised",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "btn",
        "HELP_TEXT": ""
      },
      {
        "NAME": "FLAT",
        "DISPLAY_NAME": "Flat",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "btn-flat",
        "HELP_TEXT": ""
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "BUTTON_BLOCK",
    "DISPLAY_NAME": "Full Column Width",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "ma-btn-block",
    "HELP_TEXT": "This makes the button to be 100% of the width of it's container.",
    "IS_ADVANCED": ""
  },
  {
    "NAME": "INLINE_BUTTON",
    "DISPLAY_NAME": "Inline (Next to an item)",
    "DISPLAY_SEQUENCE": 2,
    "CSS_CLASSES": "ma-btn-inline",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}
btn:waves-effect waves-light
{{/PRESET_TEMPLATE_OPTIONS}}
