{{#TEMPLATE}}
<button type="button" onclick="#JAVASCRIPT#" id="#BUTTON_ID#" class="ma-button #BUTTON_CSS_CLASSES#" #BUTTON_ATTRIBUTES#>
  <i class="#ICON_CSS_CLASSES#" aria-hidden="true"></i>
  <span class="ma-button-label">#LABEL#</span>
  <i class="#ICON_CSS_CLASSES#" aria-hidden="true"></i>
</button>
{{/TEMPLATE}}
{{#HOT_TEMPLATE}}
<a href="#LINK#" id="#BUTTON_ID#" class="ma-button #BUTTON_CSS_CLASSES#" #BUTTON_ATTRIBUTES#>
  <i class="#ICON_CSS_CLASSES#" aria-hidden="true"></i>
  <span class="ma-button-label">#LABEL#</span>
  <i class="#ICON_CSS_CLASSES#" aria-hidden="true"></i>
</a>
{{/HOT_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "TYPE",
    "DISPLAY_NAME": "Type",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "",
    "NULL_TEXT": "",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "RAISED",
        "DISPLAY_NAME": "Raised",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "btn",
        "HELP_TEXT": ""
      },
      {
        "NAME": "FLAT",
        "DISPLAY_NAME": "Flat",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "btn-flat",
        "HELP_TEXT": ""
      },
      {
        "NAME": "OUTLINE",
        "DISPLAY_NAME": "Outlined",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "btn btn-outlined",
        "HELP_TEXT": ""
      }
    ]
  },
  {
    "NAME": "ICON_FLOAT",
    "DISPLAY_NAME": "Icon Float",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "Only applies if your button has an icon",
    "NULL_TEXT": "",
    "IS_ADVANCED": "Y",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "ICON-FLOAT-LEFT",
        "DISPLAY_NAME": "Left",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "icon-float-left",
        "HELP_TEXT": "Only applies if the button has an icon"
      },
      {
        "NAME": "ICON-FLOAT-RIGHT",
        "DISPLAY_NAME": "Right",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "icon-float-right",
        "HELP_TEXT": "Only applies if the button has an icon."
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "BUTTON_BLOCK",
    "DISPLAY_NAME": "Full Column Width",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "ma-btn-block",
    "HELP_TEXT": "This makes the button to be 100% of the width of it's container.",
    "IS_ADVANCED": ""
  },
  {
    "NAME": "INLINE_BUTTON",
    "DISPLAY_NAME": "Inline (Next to an item)",
    "DISPLAY_SEQUENCE": 2,
    "CSS_CLASSES": "ma-btn-inline",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}
btn:waves-effect waves-light:icon-float-left
{{/PRESET_TEMPLATE_OPTIONS}}
