{{#template}}
<blockquote id="#REGION_STATIC_ID#" class="ma-region #REGION_CSS_CLASSES#">
    <p class="ma-region-title">
        #TITLE#
    </p>

    <div class="ma-region-buttons top">
        #EDIT##EXPAND##CREATE##NEXT##PREVIOUS#
    </div>

    <div class="ma-region-body">
        #BODY#
        #SUB_REGIONS#
    </div>

    <div class="ma-region-buttons bottom">
        #CLOSE##COPY##DELETE##CHANGE##HELP##CREATE2#
    </div>
</blockquote>
{{/template}}

{{#sub_plug_header_template}}{{/sub_plug_header_template}}
{{#sub_plug_header_entry_template}}{{/sub_plug_header_entry_template}}
{{#sub_plug_template}}{{/sub_plug_template}}

{{#template_option_groups}}
[
    {
        "name": "TITLE_SIZE",
        "display_name": "Title Size",
        "display_sequence": 0,
        "help_text": "",
        "null_text": "",
        "is_advanced": "N",
        "template_options": [
            {
                "name": "H1",
                "display_name": "H1",
                "display_sequence": 1,
                "css_classes": "h1",
                "help_text": ""
            },
            {
                "name": "H2",
                "display_name": "H2",
                "display_sequence": 2,
                "css_classes": "h2",
                "help_text": ""
            },
            {
                "name": "H3",
                "display_name": "H3",
                "display_sequence": 3,
                "css_classes": "h3",
                "help_text": ""
            },
            {
                "name": "H4",
                "display_name": "H4",
                "display_sequence": 4,
                "css_classes": "h4",
                "help_text": ""
            },
            {
                "name": "H5",
                "display_name": "H5",
                "display_sequence": 5,
                "css_classes": "h5",
                "help_text": ""
            },
            {
                "name": "H6",
                "display_name": "H6",
                "display_sequence": 6,
                "css_classes": "h6",
                "help_text": ""
            },
            {
                "name": "HIDDEN",
                "display_name": "Hidden",
                "display_sequence": 0,
                "css_classes": "hide-title",
                "help_text": ""
            }
        ]
    }
]
{{/template_option_groups}}
