{{#template}}
<div id="#REGION_STATIC_ID#" class="ma-region #REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="white-text">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col m4 offset-m2 s12">
                <h5 class="white-text">Where to find me?</h5>
                <ul>
                    <li><a class="white-text" href="http://vmorneau.me/"><i class="fa fa-rss padding-right-15"></i>My Blog</a></li>
                    <li><a class="white-text" href="https://github.com/vincentmorneau"><i class="fa fa-github-square padding-right-15"></i>Github</a></li>
                    <li><a class="white-text" href="https://twitter.com/vincentmorneau"><i class="fa fa-twitter padding-right-15"></i>Twitter</a></li>
                    <li><a class="white-text" href="https://ca.linkedin.com/pub/vincent-morneau/7b/722/49b"><i class="fa fa-linkedin padding-right-15"></i>Linkedin</a></li>
                    <li><a class="white-text" href="https://www.facebook.com/vincent.morneau"><i class="fa fa-facebook padding-right-15"></i>Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 Vincent Morneau
            <a class="grey-text text-lighten-4 right" href="#!">MIT License</a>
        </div>
    </div>
</div>
{{/template}}

{{#sub_plug_header_template}}{{/sub_plug_header_template}}
{{#sub_plug_header_entry_template}}{{/sub_plug_header_entry_template}}
{{#sub_plug_template}}{{/sub_plug_template}}
