{{#template}}
<div id="#REGION_STATIC_ID#" class="ma-region region modal #REGION_CSS_CLASSES#">
    <div class="modal-content">
        <h4 class="modal-title">#TITLE#</h4>
        #BODY#
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
{{/template}}

{{#sub_plug_header_template}}{{/sub_plug_header_template}}
{{#sub_plug_header_entry_template}}{{/sub_plug_header_entry_template}}
{{#sub_plug_template}}{{/sub_plug_template}}

{{#template_options}}
[
    {
        "name": "BOTTOM_SHEET",
        "display_name": "Bottom Sheet",
        "display_sequence": 1,
        "css_classes": "bottom-sheet",
        "help_text": ""
    }
]
{{/template_options}}
