{{#template}}
<div id="#REGION_STATIC_ID#" class="ma-region video-container #REGION_CSS_CLASSES#">
    #BODY#
</div>
{{/template}}

{{#sub_plug_header_template}}{{/sub_plug_header_template}}
{{#sub_plug_header_entry_template}}{{/sub_plug_header_entry_template}}
{{#sub_plug_template}}{{/sub_plug_template}}
