{{#row_template_before_rows}}
<div id="#REGION_STATIC_ID#" class="ma-region carousel #COMPONENT_CSS_CLASSES#">
{{/row_template_before_rows}}

    {{#before_column_heading}}{{/before_column_heading}}

        {{#column_heading_template}}{{/column_heading_template}}

    {{#after_column_heading}}{{/after_column_heading}}

    {{#row_template_before_first}}{{/row_template_before_first}}

        {{#row_template1}}
        <a class="carousel-item" href="#LINK#">#IMG#</a>
        {{/row_template1}}
        {{#row_template_condition1}}{{/row_template_condition1}}
        {{#row_template_display_cond1}}{{/row_template_display_cond1}}
        {{#row_template2}}{{/row_template2}}
        {{#row_template_condition2}}{{/row_template_condition2}}
        {{#row_template_display_cond2}}{{/row_template_display_cond2}}
        {{#row_template3}}{{/row_template3}}
        {{#row_template_condition3}}{{/row_template_condition3}}
        {{#row_template_display_cond3}}{{/row_template_display_cond3}}
        {{#row_template4}}{{/row_template4}}
        {{#row_template_condition4}}{{/row_template_condition4}}
        {{#row_template_display_cond4}}{{/row_template_display_cond4}}

    {{#row_template_after_last}}
    {{/row_template_after_last}}

{{#row_template_after_rows}}
</div>
{{/row_template_after_rows}}

{{#pagination_template}}{{/pagination_template}}
{{#next_page_template}}{{/next_page_template}}
{{#previous_page_template}}{{/previous_page_template}}
{{#next_set_template}}{{/next_set_template}}
{{#previous_set_template}}{{/previous_set_template}}

{{#template_options}}
[
    {
        "name": "CAROUSEL_SLIDER",
        "display_name": "Full Width Carousel",
        "display_sequence": 1,
        "css_classes": "carousel-slider",
        "help_text": "Our carousel has a full width option that makes it into a simple and elegant image carousel",
        "is_advanced": ""
    }
]
{{/template_options}}
