{{#row_template_before_rows}}
<ul class="collection #COMPONENT_CSS_CLASSES#">
{{/row_template_before_rows}}

    {{#before_column_heading}}{{/before_column_heading}}

        {{#column_heading_template}}
        <h4>#COLUMN_HEADER#</h4>
        {{/column_heading_template}}

    {{#after_column_heading}}{{/after_column_heading}}

    {{#row_template_before_first}}{{/row_template_before_first}}

        {{#row_template1}}
        <li class="collection-item"><a href="#TARGET#">#DISPLAY#<span class="new badge">#BADGE#</span></a></li>
        {{/row_template1}}
        {{#row_template_condition1}}:NEW_BADGE is not null{{/row_template_condition1}}
        {{#row_template_display_cond1}}NOT_CONDITIONAL{{/row_template_display_cond1}}
        {{#row_template2}}
        <li class="collection-item"><a href="#TARGET#">#DISPLAY#<span class="badge">#BADGE#</span></a></li>
        {{/row_template2}}
        {{#row_template_condition2}}{{/row_template_condition2}}
        {{#row_template_display_cond2}}{{/row_template_display_cond2}}
        {{#row_template3}}{{/row_template3}}
        {{#row_template_condition3}}{{/row_template_condition3}}
        {{#row_template_display_cond3}}{{/row_template_display_cond3}}
        {{#row_template4}}{{/row_template4}}
        {{#row_template_condition4}}{{/row_template_condition4}}
        {{#row_template_display_cond4}}{{/row_template_display_cond4}}

    {{#row_template_after_last}}
    {{/row_template_after_last}}

{{#row_template_after_rows}}
</ul>
{{/row_template_after_rows}}

{{#pagination_template}}{{/pagination_template}}
{{#next_page_template}}{{/next_page_template}}
{{#previous_page_template}}{{/previous_page_template}}
{{#next_set_template}}{{/next_set_template}}
{{#previous_set_template}}{{/previous_set_template}}

{{#template_options}}
[
    {
        "name": "WITH_HEADER",
        "display_name": "With Header",
        "display_sequence": 1,
        "css_classes": "with-header",
        "help_text": ""
    }
]
{{/template_options}}
