body {
	background: $background-color;
}

form p {
    text-align: inherit;
}

.section {
    text-align: left;

    &.right-align {
        text-align: right;
    }

    &.center-align {
        text-align: center;
    }
}

ul {
	margin: 0;

	&.table-of-contents {
		margin-top: 0;
		padding-top: 48px;
	}
}

.main-container main {
	@extend .container;
}

i {
	&.left-l {
		float: left;
		margin-right: 0;

		@media #{$large-and-up} {
			margin-right: 15px;
		}
	}

	&.right-l {
		float: right;
		margin-left: 0;

		@media #{$large-and-up} {
			margin-left: 15px;
		}
	}
}

.header {
	color: $primary-color;
}

#menu-trigger {
	display:block!important;
	padding-left: 15px;
}

.materialbox-caption {
	top:0;
}

/*
Sticky Footer
*/
form {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	flex: 1 0 auto;
}

/*
Popup LOV
*/
body.uPopUpLOV div.uActionBar {
    height: initial;

    input[type=text] {
    	width: 100%;
    }
}

/*
Alignments
*/
.center-align p.header {
	text-align: center;
}
.right-align p.header {
	text-align: right;
}

/*
Badges
*/
span.badge.new:after {
    content: "";
}

/* Notifications */
.htmldbStdErr a {
    color: inherit;
}

/* Parallax */
.parallax-container {
    height: initial;
    min-height: 400px;
}
