.card-title {
    z-index: 1;
}

.panel-close {
    cursor: pointer;
}

.ma-card-horizontal .card {
    @extend .horizontal;
}

.ma-sticky-action .card {
    @extend .sticky-action;
}

.ma-region-bg-color > .card {
    background-color: inherit;
}

.card-action {
    & > a {
        color: $card-link-color;
        margin-right: $card-padding;
        transition: color 0.3s ease;
        text-transform: uppercase;

        &:hover {
            color: $card-link-color-light;
        }
    }
}
