/* Background */
$background-color: #ececec;

/* Modal */
$modal-background-color: #fafafa;

/* Colors */
$primary-color: color("cyan", "base") !default;

$secondary-color: color("red", "lighten-1") !default;

$ir-specific-color: color("grey", "base") !default;
$ir-specific-color-light: lighten($ir-specific-color, 15%) !default;

/* Fonts */
$roboto-font-path: "../lib/materialize/fonts/roboto/" !default;

/* Date Picker */
$datepicker-weekday-bg: darken($secondary_color, 7%) !default;
$datepicker-date-bg: $secondary_color !default;
$datepicker-year: rgba(255, 255, 255, .4) !default;
$datepicker-focus: rgba(0,0,0, .05) !default;
$datepicker-selected: $secondary-color;
$datepicker-selected-outfocus: desaturate(lighten($secondary-color, 35%), 15%);
