.nav-wrapper,
.nav-wrapper form,
.nav-wrapper form .input-field {
	height: 100%;
}

nav .search-nav-wrapper .input-field label.active {
	transform: translateY(0);
	left: 1rem;
}

.page-navbar-fixed .top-nav-wrapper {
	@extend .navbar-fixed;
}

nav {
	background-color: $navbar-bg-color;
	color: $navbar-font-color;
}

nav ul a {
	display: inline-block;
}

nav .nav-wrapper i {
	font-size: ($navbar-font-size * 2) !important;
}

@media #{$medium-and-up} {
	nav .nav-wrapper i {
		font-size: ($navbar-font-size * 2.5) !important;
	}
}

.drag-target {
	top: $navbar-height-mobile;
}

@media #{$medium-and-up} {
	.drag-target {
		top: $navbar-height;
	}
}

.page-center-logo nav .brand-logo {
	@extend .center;
}

@media #{$small-and-down} {
	.page-center-logo nav .brand-logo {
		left: auto;
		transform: none;
	}
}

.navbar-list .dropdown-content {

	li,
	a,
	i,
	span {
		height: $navbar-height-mobile;
		line-height: $navbar-height-mobile;
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media #{$medium-and-up} {
	.navbar-list .dropdown-content {

		li,
		a,
		i,
		span {
			height: $navbar-height;
			line-height: $navbar-height;
		}
	}
}

/* Scrollspy */
.apex-rds {
	@extend .table-of-contents;
}

.apex-rds-slider {
	@include hide;
}

/* Region Display Selector */
.apex-rds-selected a {
	font-weight: 500;
	padding-left: 18px;
	border-left: 2px solid $secondary-color;
}

/* Button */
nav .button-collapse {
	margin: 0;
}
