.a-Button.a-Button--calendar {
    margin-left: -32px;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.a-IG .a-Button.a-Button--calendar {
    margin-left: -1px;
}

.ui-datepicker {
    font-family: 'Roboto';
    padding: 0;
    border: none;
    z-index: 800!important;
    width: auto;
    min-width: 300px;
    // max-width: 300px;
    @extend .z-depth-5;

    .ui-datepicker-material-header {
        text-align: center;
        background-color: $datepicker-date-bg;
        color: #fff;
        padding-bottom: 15px;
        font-weight: 300;

        .ui-datepicker-material-day {
            background-color: $datepicker-weekday-bg;
            padding: 10px;
            font-weight: 200;
            letter-spacing: .5;
            font-size: 1rem;
            margin-bottom: 15px;
        }

        .ui-datepicker-material-month {
            font-size: 2rem;
            text-transform: uppercase;
        }

        .ui-datepicker-material-day-num {
            font-size: 4.5rem;
            font-weight: 400;
        }

        .ui-datepicker-material-year {
            font-size: 1.8rem;
            color: $datepicker-year;
        }
    }

    .ui-datepicker-header {
        text-align: center;
        background: #fff;
        font-weight: 300;
        padding: 0;
        border: none;

        .ui-datepicker-title {
            margin: .5rem 0;
            height: 3rem;
            line-height: 3rem;

            .select-wrapper {
                display: inline-block;
                margin: 0 0.5rem;
                width: 33%;
                border: 1px solid #f2f2f2;

                input.select-dropdown {
                    border-bottom: none;
                    text-align: left;
                    padding-left: 1rem;
                    margin-bottom: 0;
                }

                span.caret {
                    margin: 16px 5px;
                }
            }
        }

        .ui-datepicker-prev, .ui-datepicker-next {
            top: auto;
            height: 4rem;
            cursor: pointer;

            .ui-icon {
                background-image: none!important;

                &:before {
                    content: " ";
                    border-top: .5em solid transparent;
                    border-bottom: .5em solid transparent;
                    border-right: 0.75em solid #676767;
                    width: 0;
                    height: 0;
                    display: block;
                    margin: 0 auto;
                }
            }

            &.ui-state-hover {
                border: none;
                background: $datepicker-selected-outfocus;
            }
        }

        .ui-datepicker-next .ui-icon:before {
            border-right: 0;
            border-left: 0.75em solid #676767;
        }

        .ui-datepicker-next, .ui-datepicker-next-hover {
            right: 0;
        }

        .ui-datepicker-prev, .ui-datepicker-prev-hover {
            left: 0;
        }
    }

    .ui-datepicker-calendar {
        background: #fff;
        margin: 0;

        .ui-state-default {
            background: none;
            border: none;
            text-align: center;
            padding: .75rem 0;
        }

        .ui-state-highlight {
            color: $datepicker-date-bg;
        }

        .ui-state-active {
            border-radius: 50%;
            background-color: $datepicker-selected;
            color: #fff;
            width: 35px;
            height: 35px;
            margin: auto;
            line-height: 15px;
        }

        thead {
            border-bottom: none;

            th {
                color: #999;
                font-weight: 500;
                width: 14.285714286%;
            }
        }
    }

    // .ui-datepicker-buttonpane {
    //     border: none;
    //
    //     .ui-state-default {
    //         background: #fff;
    //         border: none;
    //     }
    //
    //     .ui-datepicker-close,
    //     .ui-datepicker-current {
    //         background: #fff;
    //         color: $datepicker-date-bg;
    //         text-transform: uppercase;
    //         border: none;
    //         opacity: 1;
    //         font-weight: 200;
    //         outline: none;
    //
    //         &:hover {
    //             background: lighten($datepicker-date-bg, 50%);
    //         }
    //     }
    // }

}
