.promo {
	width: 100%;

	i {
	  	color: $primary-color;
	  	font-size: 7rem;
	  	display: block;
	}
}

.promo-img {
	max-width: 75%;
}

.promo-caption {
	font-size: 1.7rem;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 0;
	text-align: center;
}